<template>
    <div class="flex flex-col w-full overflow-y-auto h-full">
        <ckeditor
            v-model="editorContent"
            :editor="editor"
            :config="config"
            class="w-full h-full"
            tag-name="textarea"
            :disabled="disabled"
        />
    </div>
</template>

<script>
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    import CKEditor from '@ckeditor/ckeditor5-vue2';

    export default {
        name: 'CKEditor',
        components: { ckeditor: CKEditor.component },
        props: {
            value: {
                type: String,
            },
            disabled: {
                type: Boolean,
                default: false,
            },
        },

        emits: ['input'],

        data() {
            return {
                editor: ClassicEditor,
                editorContent: this.value,
                config: {
                    toolbar: {
                        items: [
                            'heading', '|',
                            'fontfamily', 'fontsize', '|',
                            'alignment', '|',
                            'fontColor', 'fontBackgroundColor', '|',
                            'bold', 'italic', 'strikethrough', 'underline', 'subscript', 'superscript', '|',
                            'link', '|',
                            'outdent', 'indent', '|',
                            'bulletedList', 'numberedList', 'todoList', '|',
                            'code', 'codeBlock', '|',
                            'insertTable', '|',
                            'uploadImage', 'blockQuote', '|',
                            'undo', 'redo',
                        ],
                        shouldNotGroupWhenFull: true,
                    },

                },
            };
        },

        watch: {
            editorContent(val) {
                this.$emit('input', val);
            },
        },

    };
</script>

<style lang="scss">
.ck-editor {
    @apply flex-grow flex flex-col;

    .ck-editor__main {
        @apply flex-grow flex flex-col;
        .ck-editor__editable {
            @apply flex-grow;
        }
    }
}
</style>
