<template>
    <div>
        <div class="flex relative pt-5">
            <p class="text-sm absolute top-0 left-0">
                Số đơn
            </p>
            <LineChart :chartdata="chartdata" :options="options" style="width:100%" />
        </div>
    </div>
</template>

<script>
    import _forOwn from 'lodash/_baseForOwn';
    import resolveConfig from 'tailwindcss/resolveConfig';
    import tailwindConfig from '@/tailwind.config';
    import LineChart from '@/components/shared/charts/Line.vue';

    const { theme: { colors } } = resolveConfig(tailwindConfig);

    export default {
        name: 'CompleteOrderStatisticLineChart',
        components: { LineChart },
        props: {
            growthStatistic: {
                type: Object,
                required: true,
            },

        },
        data() {
            const lineColor = colors.cyan[400];
            const bgColor = colors.cyan[100];

            const labels = [];
            const datasets = [
                {
                    data: [],
                    backgroundColor: bgColor,
                    borderColor: lineColor,
                    pointBackgroundColor: '#fff',
                    pointBorderColor: lineColor,
                    pointRadius: 2,
                    pointHoverRadius: 3,
                    lineTension: 0,
                },
            ];
            _forOwn(this.growthStatistic, (statistic, month) => {
                if (!parseInt(month, 10)) {
                    return;
                }

                datasets[0].data.push(statistic);
                labels.push(month);
            });

            return {
                chartdata: {
                    labels,
                    datasets,
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    tooltips: {
                        displayColors: false,
                        callbacks: {
                            title: (tooltipItem) => {
                                const { xLabel: month } = tooltipItem[0];
                                return `Tháng ${month}`;
                            },
                            label: (tooltipItem, data) => `${data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index]} đơn`,
                        },
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                padding: 10,
                            },
                        }],
                    },
                    legend: {
                        display: false,
                    },
                    layout: {
                        padding: {
                            left: 30,
                            right: 0,
                            top: 20,
                            bottom: 0,
                        },
                    },
                },

            };
        },
    };
</script>
