<template>
    <a-table
        :loading="loading"
        :pagination="false"
        class="order-table"
        :row-class-name="calcStripedRowTable"
        row-key="id"
        :columns="tableColumns"
        :data-source="data"
    >
        <template #id="id">
            <nuxt-link :to="'/san-pham/' + id" class="text-black underline">
                {{ id }}
            </nuxt-link>
        </template>
        <template #name="name">
            <p class="m-0" style="min-width: 200px;">
                {{ name }}
            </p>
        </template>
        <template #price="price">
            <p class="m-0">
                {{ price | numberFormat }} VNĐ
            </p>
        </template>
        <template #discount="discount">
            <p class="m-0">
                {{ discount | numberFormat }} VNĐ
            </p>
        </template>
        <template #total="product">
            <p class="m-0 text-red-500">
                {{ (product.price * product.amount - product.discount) | numberFormat }} VNĐ
            </p>
        </template>
    </a-table>
</template>

<script>
    import orderStates, { COLORS as orderStateColors } from '~/constants/order';

    const columns = [
        {
            dataIndex: 'id',
            key: 'id',
            title: 'Mã sản phẩm',
            scopedSlots: { customRender: 'id' },
            width: 150,
        },
        {
            dataIndex: 'name',
            key: 'name',
            title: 'Tên sản phẩm',
            scopedSlots: { customRender: 'name' },
        },
        {
            title: 'Số lượng',
            dataIndex: 'amount',
            key: 'amount',
            width: 100,
        },
        {
            title: 'Giá thành',
            dataIndex: 'price',
            key: 'price',
            scopedSlots: { customRender: 'price' },
            width: 150,
        },
        {
            title: 'Giảm giá',
            dataIndex: 'discount',
            key: 'discount',
            scopedSlots: { customRender: 'discount' },
            width: 150,
        },
        {
            title: 'Thành tiền',
            key: 'total',
            scopedSlots: { customRender: 'total' },
            width: 175,
        },
    ];

    export default {
        name: 'OrderListTable',
        props: {
            data: {
                type: Array,
                required: true,
            },
            loading: {
                type: Boolean,
            },
        },
        data() {
            return {
                tableColumns: columns,
                orderStateColors,
                orderStates,
            };
        },
        methods: {
            calcStripedRowTable(_, i) {
                return i % 2 === 0 ? 'bg-white' : 'bg-blue-50';
            },
        },
    };
</script>

<style lang="scss">
.order-table {

    .ant-table-thead {
        th {
            @apply bg-cyan-400 text-white #{!important};
        }
    }
}
</style>
