<template>
    <a-table
        :loading="loading"
        :pagination="false"
        class="order-table"
        :row-class-name="calcStripedRowTable"
        row-key="id"
        :columns="tableColumns"
        :data-source="data"
        :scroll="{x: true}"
    >
        <template #id="id">
            <nuxt-link :to="'/don-hang/' + id" class="text-black underline">
                {{ id }}
            </nuxt-link>
        </template>
        <template #name="name">
            <p class="m-0" style="min-width: 200px;">
                {{ name }}
            </p>
        </template>
        <template #createTime="createTime">
            <p class="m-0">
                {{ createTime | datetimeFormat("hh:mm - DD/MM/YYYY") }}
            </p>
        </template>
        <template #total="total">
            <p class="m-0">
                {{ total | numberFormat }} VNĐ
            </p>
        </template>
        <template #state="state">
            <a-tag :color="orderStateColors[state]" class="!text-sm">
                {{ orderStates[state] }}
            </a-tag>
        </template>
        <template #action="action">
            <a-icon type="eye" @click="navigateToDetail(action)" />
        </template>
    </a-table>
</template>

<script>
    import orderStates, { COLORS as orderStateColors } from '~/constants/order';

    const columns = [
        {
            dataIndex: 'id',
            key: 'id',
            title: 'Mã đơn hàng',
            scopedSlots: { customRender: 'id' },
            width: 240,
        },
        {
            dataIndex: 'name',
            key: 'name',
            title: 'Người nhận',
            scopedSlots: { customRender: 'name' },
        },
        {
            title: 'Địa chỉ',
            dataIndex: 'address',
            key: 'address',
            width: 300,
        },
        {
            title: 'Điện thoại',
            dataIndex: 'phone',
            key: 'phone',
            width: 150,
        },
        {
            title: 'Tổng tiền',
            dataIndex: 'total',
            key: 'total',
            scopedSlots: { customRender: 'total' },
            width: 150,
        },
        {
            title: 'Ngày tạo',
            dataIndex: 'createTime',
            key: 'createTime',
            scopedSlots: { customRender: 'createTime' },
            width: 250,
        },
        {
            title: 'Trạng thái',
            key: 'state',
            dataIndex: 'state',
            scopedSlots: { customRender: 'state' },
            width: 150,
        },
        {
            title: '',
            key: 'action',
            scopedSlots: { customRender: 'action' },
            width: 50,
        },
    ];

    export default {
        name: 'OrderListTable',
        props: {
            data: {
                type: Array,
                required: true,
            },
            loading: {
                type: Boolean,
            },
        },
        data() {
            return {
                tableColumns: columns,
                orderStateColors,
                orderStates,
            };
        },
        methods: {
            navigateToDetail({ id }) {
                this.$router.push(`/don-hang/${id}`);
            },
            calcStripedRowTable(_, i) {
                return i % 2 === 0 ? 'bg-white' : 'bg-blue-50';
            },
        },
    };
</script>

<style lang="scss">
.order-table {
    td {
        white-space: nowrap;
    }

    .ant-table-thead {
        th {
            @apply bg-cyan-400 text-white #{!important};
        }
    }
}
</style>
