<template>
    <a-modal
        :visible.sync="visible"
        title=""
        class="delete-dialog"
        ok-text="Xác nhận"
        cancel-text="Hủy"
        @ok="handleOk"
        @cancel="close"
    >
        <div class="mt-2 flex justify-between items-center">
            <a-divider />
            <p class="m-0 whitespace-nowrap text-2xl text-black">
                {{ isEdit ? "Sửa" : "Thêm" }} mục sản phẩm
            </p>
            <a-divider />
        </div>
        <div class="mt-5">
            <a-form-model
                ref="form"
                class="add-category-form"
                :model="form"
                :rules="rules"
            >
                <a-form-model-item prop="name" label="Tên danh mục">
                    <a-input v-model="form.name" placeholder="Nhập tên loại sản phẩm" />
                </a-form-model-item>
                <div class="flex">
                    <div class="w-1/3">
                        <a-form-model-item prop="image" label="Ảnh đại diện">
                            <a-upload
                                name="image"
                                list-type="picture-card"
                                class="avatar-uploader"
                                :show-upload-list="false"
                                @change="handleChange"
                            >
                                <img
                                    v-if="imageUrl"
                                    class="w-full h-full object-fill"
                                    :src="imageUrl"
                                    alt="Illustration"
                                >
                                <div v-else>
                                    <a-icon :type="isLoadingImage ? 'loading' : 'plus'" />
                                    <div class="ant-upload-text">
                                        Upload
                                    </div>
                                </div>
                            </a-upload>
                        </a-form-model-item>
                    </div>
                    <div class="w-2/3">
                        <a-form-model-item prop="description" label="Mô tả">
                            <a-textarea
                                v-model="form.description"
                                :auto-size="{ minRows: 5, maxRows: 6 }"
                                placeholder="Nhập mô tả sản phẩm"
                            />
                        </a-form-model-item>
                    </div>
                </div>
            </a-form-model>
        </div>
    </a-modal>
</template>
<script>
    import _cloneDeep from 'lodash/cloneDeep';

    const defaultForm = {
        name: '',
        description: '',
        image: null,

    };

    function getBase64(img, callback) {
        const reader = new FileReader();
        reader.addEventListener('load', () => callback(reader.result));
        reader.readAsDataURL(img);
    }

    export default {
        emits: ['ok'],
        data() {
            const form = _cloneDeep(defaultForm);
            return {
                visible: false,
                isEdit: false,
                form,
                isLoadingImage: false,
                imageUrl: '',
                rules: {
                    name: [
                        {
                            required: true,
                            message: 'Vui lòng nhập tên loại sản phẩm',
                            transform: (categoryName) => categoryName.trim(),
                            trigger: 'change',
                        },
                    ],
                },
            };
        },

        methods: {
            handleChange(info) {
                if (info.file.status === 'uploading') {
                    this.isLoadingImage = true;
                    return;
                }
                if (info.file.status === 'done') {
                    this.form.image = info.file.originFileObj;
                    getBase64(info.file.originFileObj, (imageUrl) => {
                        this.imageUrl = imageUrl;
                        this.isLoadingImage = false;
                    });
                }
            },
            open(category) {
                this.visible = true;
                if (!category) {
                    this.isEdit = false;
                    this.form = _cloneDeep(defaultForm);
                    this.imageUrl = this.form.image;
                    return;
                }
                this.isEdit = true;
                this.form = _cloneDeep(category);
                this.imageUrl = this.form.image;
            },
            close() {
                this.visible = false;
            },
            handleOk() {
                this.$refs.form.validate((valid) => {
                    if (valid) {
                        this.$emit('ok', { form: this.form, isEdit: this.isEdit });
                    } else {
                        this.$message.error('Oops, Vui lòng nhập đầy đủ thông tin.');
                        return false;
                    }
                });
            },
        },
    };
</script>

<style lang="scss">
.delete-dialog {
    .ant-divider {
        @apply my-5 bg-gray-700 min-w-0 w-1/3 #{!important};
    }
}
</style>
