<template>
    <a-modal
        :visible="visible"
        title=""
        class="delete-dialog"
        ok-text="Xóa"
        cancel-text="Quay lại"
        @ok="handleOk"
        @cancel="close"
    >
        <div class="mt-2 flex justify-between items-center">
            <a-divider />
            <p class="m-0 mx-4 whitespace-nowrap text-2xl text-black">
                Xoá danh mục sản phẩm?
            </p>
            <a-divider />
        </div>
        <div class="text-center mt-5">
            <p v-if="isSingleCategory">
                Bạn có chắc chắc muốn xoá mục này?
            </p>
            <p v-else>
                Bạn có chắc chắc muốn xoá {{ categoriesNumber }} mục?
            </p>
            <p>
                Lưu ý: Bạn không thể hoàn tác hành động này
            </p>
        </div>
    </a-modal>
</template>
<script>
    export default {
        emits: ['ok'],

        data() {
            return {
                visible: false,
                category: null,
            };
        },

        computed: {
            categoriesNumber() {
                return this.category?.length || '';
            },
            isSingleCategory() {
                return !Array.isArray(this.category);
            },
        },

        methods: {
            open(category) {
                this.visible = true;
                this.category = category;
            },
            close() {
                this.visible = false;
            },
            handleOk() {
                this.visible = false;
                this.$emit('ok', this.category);
            },
        },
    };
</script>

<style lang="scss">
.delete-dialog {
    .ant-divider {
        @apply my-5 bg-gray-700 min-w-0 w-1/3 #{!important};
    }
}
</style>
