<template>
    <card style="height: 100%;">
        <div class="font-semibold flex-auto uppercase">
            <slot name="title" />
            <div class="flex items-start">
                <div class="text-2xl mr-4">
                    <i class="fas fa-chart-bar" />
                </div>
                <slot />
            </div>
        </div>
    </card>
</template>

<script>
    export default {
        name: 'TopCard',
    };
</script>
