<template>
    <div class="flex justify-between items-center">
        <nuxt-link class="block w-14" to="/">
            <img src="~/assets/imgs/tiki-logo.png" alt="" class="w-full">
        </nuxt-link>
        <a-dropdown :trigger="['click']">
            <div class="flex items-center cursor-pointer">
                <div class="text-white">
                    <p class="mb-2">
                        Xin chào,
                    </p>
                    <p class="m-0">
                        {{ nickname || username }}
                    </p>
                </div>
                <img :src="avatarURL" alt="" class="w-10 h-10 rounded-full mx-2">
                <i class="fa-solid fa-caret-down" />
            </div>
            <a-menu slot="overlay" @click="onDropdownClick">
                <a-menu-item :key="HEADER_KEYS.DETAIL">
                    <i class="fa-solid fa-user" />
                    <span>Thông tin cá nhân</span>
                </a-menu-item>
                <a-menu-item :key="HEADER_KEYS.CHANGE_PASSWORD">
                    <i class="fa-solid fa-lock" />
                    <span>Đổi mật khẩu</span>
                </a-menu-item>
                <a-menu-item :key="HEADER_KEYS.LOGOUT">
                    <i class="fa-solid fa-arrow-right-from-bracket" />
                    <span>Đăng xuất</span>
                </a-menu-item>
            </a-menu>
        </a-dropdown>
    </div>
</template>

<script>
    import { HEADER_KEYS } from '~/constants/dropdown-keys';
    import { mapGetters } from 'vuex';

    export default {
        // eslint-disable-next-line vue/multi-word-component-names
        name: 'Header',
        data() {
            return {
                HEADER_KEYS,
            };
        },

        computed: {
            ...mapGetters('admin', {
                username: 'getName',
                avatarURL: 'getAvatar',
                nickname: 'getNickName',
            }),
        },

        async created() {
            const isFailed = await this.$store.dispatch('admin/GET_INFO');
            if (isFailed) {
                this.$message.error('Có lỗi xảy ra, không thể lấy thông tin người quản trị, vui lòng tải lại trang để lấy lại.');
            }
        },

        methods: {
            onDropdownClick({ key }) {
                switch (key) {
                    case HEADER_KEYS.DETAIL:
                        this.getDetail();
                        break;
                    case HEADER_KEYS.CHANGE_PASSWORD:
                        this.changePassword();
                        break;
                    case HEADER_KEYS.LOGOUT:
                        this.logout();
                        break;
                    default:
                        break;
                }
            },

            changePassword() {
                this.$router.push('/doi-mat-khau');
            },

            getDetail() {
                this.$router.push('/thong-tin-ca-nhan');
            },

            logout() {
                this.$auth.logout();
                this.$router.push('/dang-nhap');
            },
        },
    };
</script>
