<template>
    <div class="the-sidebar">
        <a-menu
            ref="menu"
            mode="inline"
            :default-open-keys="defaultOpenKeys"
            :default-selected-keys="defaultSelectedKeys"
        >
            <template v-for="menu in menus">
                <a-menu-item v-if="!menu.child" :key="menu.link">
                    <nuxt-link
                        :to="menu.link"
                        style="color: inherit"
                    >
                        {{ menu.title }}
                    </nuxt-link>
                </a-menu-item>
                <a-sub-menu v-else :key="menu.link">
                    <span slot="title"><i :class="menu.icon" class="w-8 text-xl" /><span>{{
                        menu.title
                    }}</span></span>
                    <a-menu-item v-for="submenu in menu.child" :key="submenu.link">
                        <nuxt-link v-if="!submenu.handler" :to="submenu.link">
                            {{ submenu.title }}
                        </nuxt-link>
                        <p v-else @click="submenu.handler">
                            {{ submenu.title }}
                        </p>
                    </a-menu-item>
                </a-sub-menu>
            </template>
        </a-menu>
    </div>
</template>

<script>
    export default {
        name: 'SideBar',
        computed: {
            menus() {
                return [
                    {
                        title: 'Dashboard',
                        link: '/',
                    },
                    {
                        title: 'Khách hàng',
                        link: '/khach-hang',
                    },
                    {
                        title: 'Sản phẩm',
                        link: 'san-pham',
                        child: [
                            {
                                title: 'Danh sách SP',
                                link: '/san-pham',
                            },
                            {
                                title: 'Tạo SP',
                                link: '/san-pham/tao-moi',
                            },
                        ],
                    },
                    {
                        title: 'Đơn hàng',
                        link: '/don-hang',
                    },
                    {
                        title: 'Danh mục sản phẩm',
                        link: '/danh-muc',
                    },
                ];
            },
            defaultOpenKeys() {
                const keys = [];
                this.menus.forEach((menuItem) => {
                    if (this.$route.path.includes(menuItem.link)) {
                        keys.push(menuItem.link);
                    }
                });

                return keys;
            },
            defaultSelectedKeys() {
                return [this.$route.path];
            },
        },
    };
</script>

<style lang="scss">
.the-sidebar {
    @apply h-full overflow-y-auto overflow-x-hidden bg-blue-100;

    .ant-menu {
        @apply bg-transparent #{!important};

        .ant-menu-item-selected {
            @apply bg-transparent font-bold text-black #{!important};
            > a {
                color: inherit;

                &:hover {
                    color: white;
                }
            }
        }
    }

    .ant-menu-item,
    .ant-menu-submenu-title {
        @apply text-black font-semibold;

        &:hover,
        &:focus {
            @apply bg-blue-200 #{!important};
        }

        &::after {
            @apply border-r-blue-400 #{!important};
        }
    }
}
</style>
