<template>
    <a-form layout="vertical" :form="form" @submit.prevent="formSubmit">
        <a-row
            :gutter="24"
        >
            <a-col :span="15">
                <a-form-item
                    label="Tìm kiếm"
                    prop="search"
                >
                    <a-input
                        v-model="form.search"
                        :placeholder="form.search_type === 'name' ?
                            'Nhập tên sản phẩm' : 'Nhập sản phẩm'"
                    >
                        <a-select
                            slot="addonBefore"
                            v-model="form.search_type"
                            style="width: 150px"
                        >
                            <a-select-option
                                v-for="(label, value) in searchSelectOptions"
                                :key="value"
                                :value="value"
                            >
                                {{ label }}
                            </a-select-option>
                        </a-select>
                        <a-icon slot="suffix" type="search" />
                    </a-input>
                </a-form-item>
            </a-col>
            <a-col :span="9">
                <a-form-item
                    label="Loại sản phẩm"
                    prop="category_id"
                >
                    <a-select
                        v-model="form.category_id"
                        placeholder="Chọn loại sản phẩm"
                        :not-found-content="loadingCategory ? undefined : null"
                    >
                        <a-spin v-if="loadingCategory" slot="notFoundContent" />
                        <a-select-option
                            v-for="select in categories"
                            :key="select.value"
                            :value="select.value"
                        >
                            {{ select.label }}
                        </a-select-option>
                    </a-select>
                </a-form-item>
            </a-col>
        </a-row>
        <a-row
            type="flex"
            :gutter="24"
            justify="space-between"
            align="bottom"
        >
            <a-col :span="15">
                <a-form-item
                    label="Ngày khởi tạo"
                    prop="date"
                    style="margin: 0; padding: 0"
                >
                    <a-range-picker
                        v-model="form.date"
                        :placeholder="['Ngày bắt đầu', 'Ngày kết thúc']"
                        class="w-full"
                        format="DD/MM/YYYY"
                    />
                </a-form-item>
            </a-col>
            <a-col :span="9">
                <a-button type="primary" class="w-full submit-btn" html-type="submit">
                    Tìm kiếm
                </a-button>
            </a-col>
        </a-row>
    </a-form>
</template>

<script>
    import { mapGetters } from 'vuex';
    import _cloneDeep from 'lodash/cloneDeep';
    import _assign from 'lodash/assign';
    import _forOwn from 'lodash/forOwn';

    const defaultFilterForm = {
        search: '',
        search_type: 'name',
        category_id: undefined,
        date: null,
    };
    export default {
        name: 'ProductFilter',
        props: {
            categories: {
                type: Array,
            },
        },
        data() {
            return {
                searchSelectOptions: {
                    name: 'Tên sản phẩm',
                    productID: 'Mã sản phẩm',
                },
                form: _cloneDeep(defaultFilterForm),
            };
        },

        computed: {
            ...mapGetters('categories', {
                loadingCategory: 'getLoadingState',
            }),
        },

        methods: {
            formSubmit() {
                const query = _assign({}, this.$route.query);

                _forOwn(this.form, (filterVal, filterKey) => {
                    if (filterKey === 'search_type' && !this.form.search) {
                        return;
                    }

                    if (filterKey === 'date') {
                        if (filterVal?.length === 2) {
                            query.from = filterVal[0].format('YYYY-MM-DD');
                            query.to = filterVal[1].format('YYYY-MM-DD');
                        } else {
                            delete query.from;
                            delete query.to;
                        }
                        return;
                    }

                    if (filterVal) {
                        query[filterKey] = filterVal;
                    } else {
                        delete query[filterKey];
                    }
                });

                this.$router.push({
                    query,
                });
            },
        },
    };
</script>

<style lang="scss" scoped>
    .submit-btn {
        @apply bg-blue-500  active:bg-blue-600 hover:bg-blue-400 border-none #{!important}
    }

</style>
