<template>
    <div>
        <div class="flex justify-between items-center my-4">
            <h1 class="text-3xl">
                Danh mục sản phẩm
            </h1>
            <a-button class="category-add-btn" @click="showAddCategoryDialog">
                <span>+ Thêm danh mục sản phẩm</span>
            </a-button>
        </div>
        <search placeholder="Nhập tên danh mục muốn tìm kiếm" class="my-6" />
        <CategoryTable
            class="my-5"
            :data="categories"
            :loading="isGettingData"
            @deleteCategory="showDeleteDialog"
            @editCategory="editCategory"
        />
        <ConfirmDeleteDialog ref="deleteCategoryDialog" @ok="deleteCategory" />
        <AddCategoryDialog ref="addCategoryDialog" @ok="addCategory" />
        <the-pagination :data="pagination" />
    </div>
</template>

<script>
    import CategoryTable from '@/components/category/table/Table.vue';
    import ConfirmDeleteDialog from '@/components/category/dialog/ConfirmDelete.vue';
    import AddCategoryDialog from '@/components/category/dialog/AddCategory.vue';

    const MAX_RECORD = 12;
    const DEFAULT_PAGE = 1;

    export default {
        name: 'CategoryListPage',

        components: {
            CategoryTable,
            ConfirmDeleteDialog,
            AddCategoryDialog,
        },

        async fetch() {
            this.isGettingData = true;
            try {
                const { pageNum: page, pageSize: limit, search } = this.$route.query;
                const query = { page: page || DEFAULT_PAGE, limit: limit || MAX_RECORD, search };

                const categories = await this.$api.categories.getAll(query);
                const { meta, data } = categories;
                this.categories = data.map(({
                    id, name, description, image_url: image,
                    products_count: productCount,
                }) => ({
                    id, name, description, image, productCount,
                }));
                this.pagination = { page: query.page, perPage: query.limit, total: meta.total };
            } catch (error) {
                this.$message.error('Không thể lấy danh sách danh mục từ CSDL');
            } finally {
                this.isGettingData = false;
            }
        },

        data() {
            const pagination = {
                page: this.$route.query.pageNum || DEFAULT_PAGE,
                total: 0,
                perPage: this.$route.query.pageSize || MAX_RECORD,
            };

            return {
                showDelDialog: false,
                isGettingData: false,
                categories: [],
                pagination,
            };
        },

        watch: {
            '$route.query': function () {
                this.$fetch();
            },
        },

        methods: {
            // Add category dialog
            showAddCategoryDialog() {
                this.$refs.addCategoryDialog.open();
            },

            async addCategory({ form: category, isEdit }) {
                try {
                    const { name, description, image } = category;
                    let imageUrl = image;
                    if (typeof image !== 'string') {
                        const form = new FormData();
                        form.append('image', image);
                        ({ path: imageUrl } = await this.$api.common.upload(form));
                    }

                    const form = { name, description, image_url: imageUrl };

                    if (!isEdit) {
                        await this.$api.categories.create(form);
                    } else {
                        const { id } = category;
                        await this.$api.categories.edit(id, form);
                    }

                    this.$fetch();
                    this.$message.success(`${isEdit ? 'Sửa' : 'Thêm'} danh mục thành công`);
                } catch (error) {
                    this.$message.error('Có lỗi xảy ra, vui lòng thử lại sau');
                } finally {
                    this.$refs.addCategoryDialog.close();
                }
            },

            async editCategory({ id }) {
                try {
                    const { data: category } = await this.$api.categories.getSingle(id);
                    this.$refs.addCategoryDialog.open(category);
                } catch (error) {
                    this.$message.error('Có lỗi xảy ra, thử lại sau');
                }
            },

            // Delete dialog
            showDeleteDialog(category) {
                this.$refs.deleteCategoryDialog.open(category);
                this.showDelDialog = true;
            },
            async deleteCategory(category) {
                try {
                    const { id } = category;
                    await this.$api.categories.delete(id);

                    this.$message.success('Xóa thành công');
                    this.$fetch();
                } catch (error) {
                    this.$message.error('Có lỗi xảy ra, thử lại sau');
                } finally {
                    this.$refs.deleteCategoryDialog.close();
                }
            },
        },
    };
</script>

<style lang="scss" scoped>
    .category-add-btn  {
        @apply py-2 px-14 text-base bg-blue-500 text-white h-auto #{!important};
    }
</style>
