<template>
    <div>
        <div class="flex justify-between items-center my-4">
            <h1 class="text-xl font-bold">
                Danh sách sản phẩm
            </h1>
            <nuxt-link
                class="py-2 px-14 mr-4 inline-block bg-blue-400 text-white hover:text-white text-base rounded-lg"
                to="/san-pham/tao-moi"
            >
                Tạo sản phẩm
            </nuxt-link>
        </div>
        <div class="px-7 py-6 border rounded-md ">
            <FilterProduct :categories="plainCategories" />
        </div>
        <ProductTable
            class="my-5"
            :loading="isGettingData"
            :data="productList"
            @deleteProduct="showDeleteDialog"
        />
        <the-pagination :data="pagination" />
        <ConfirmDeleteDialog
            :visible="showDialog"
            :product="product"
            @ok="deleteHandler"
            @cancel="hideDialogHandler"
        />
    </div>
</template>

<script>
    import FilterProduct from '@/components/products/filter/Filter.vue';
    import ProductTable from '@/components/products/table/Table.vue';
    import ConfirmDeleteDialog from '@/components/products/dialog/ConfirmDelete.vue';

    const MAX_RECORD = 12;
    const DEFAULT_PAGE = 1;

    export default {
        name: 'ProductListPage',
        components: {
            FilterProduct,
            ProductTable,
            ConfirmDeleteDialog,
        },

        async fetch() {
            this.isGettingData = true;
            try {
                const { pageNum: page, pageSize: limit, ...search } = this.$route.query;
                const query = {
                    page: page || DEFAULT_PAGE, limit: limit || MAX_RECORD, order_by: 'desc', ...search,
                };

                // Nếu  loại sản phẩm chưa được lấy từ API, tải chúng về
                if (!this.$store.getters['categories/getCategories']) {
                    await this.$store.dispatch('categories/fetchAll');
                }

                const retrievedProducts = await this.$api.products.getAll(query);
                const { meta, data } = retrievedProducts;

                this.productList = data.map(({
                    id, name, created_at: createTime, thumbnail_url: image, category_id: categoryID,
                }) => ({
                    id, name, createTime, image, category: this.categories[categoryID],
                }));

                this.pagination = { page: query.page, perPage: query.limit, total: meta.total };
            } catch (error) {
                console.log(error);
                this.$message.error('Có lỗi xảy ra, không lấy được danh sách sản phẩm');
            } finally {
                this.isGettingData = false;
            }
        },

        data() {
            const pagination = {
                page: this.$route.query.pageNum || DEFAULT_PAGE,
                total: 30,
                perPage: this.$route.query.pageSize || MAX_RECORD,
            };
            return {
                showDialog: false,
                product: null,
                selectedProducts: [],
                productList: [],
                isGettingData: false,
                pagination,
            };
        },

        computed: {
            categories() {
                if (!this.plainCategories) {
                    return {};
                }

                return this.plainCategories.reduce((categories, category) => {
                    categories[category.value] = category.label;
                    return categories;
                }, {});
            },

            plainCategories() {
                return this.$store.getters['categories/getCategories'];
            },
        },

        watch: {
            '$route.query': function () {
                this.$fetch();
            },
        },

        methods: {
            async deleteHandler() {
                try {
                    await this.$api.products.delete(this.product);
                    this.$fetch();
                    this.$message.success('Xóa sản phẩm thành công');
                } catch (error) {
                    console.log(error);
                    this.$message.error('Có lỗi xảy ra, không xóa được sản phẩm, thử lại sau');
                } finally {
                    this.showDialog = false;
                }
            },
            hideDialogHandler() {
                this.showDialog = false;
            },
            showDeleteDialog(prodID) {
                this.showDialog = true;
                this.product = typeof (prodID) === 'number' ? String(prodID) : prodID;
            },
        },
        head: () => ({
            title: 'Danh sách sản phẩm | Tiki.vn',
        }),

    };
</script>
