<template>
    <div>
        <h1 class="text-xl font-bold">
            Tạo mới sản phẩm
        </h1>
        <CreateProductForm @submit="createProduct" />
    </div>
</template>

<script>
    import CreateProductForm from '@/components/products/form/ProductForm.vue';

    export default {
        name: 'CreateProductPage',
        components: {
            CreateProductForm,
        },
        methods: {
            async   createProduct(form) {
                const {
                    image, category, count, discount, specifications, ...remain
                } = form;
                const sendData = {
                    ...remain,
                    thumbnail_url: image,
                    category_id: category,
                    quantity: count,
                    sale_percent: discount,
                    specifications: JSON.stringify(specifications),
                    sold: 0,
                };
                try {
                    await this.$api.products.create(sendData);

                    this.$message.success('Tạo sản phẩm thành công');
                    this.$router.push('/san-pham');
                } catch (error) {
                    console.log(error);
                    this.$message.error('Có lỗi xảy ra, không thể tạo sản phẩm');
                }
            },
        },
        head: () => ({
            title: 'Tạo sản phẩm mới | Tiki.vn',
        }),

    };
</script>
