<template>
    <a-modal
        :visible="visible"
        title=""
        class="delete-dialog"
        ok-text="Xóa"
        cancel-text="Quay lại"
        @ok="handleOk"
        @cancel="close"
    >
        <div class="mt-2 flex justify-between items-center">
            <a-divider />
            <p class="my-0 mx-2 whitespace-nowrap text-xl text-black">
                Bạn có chắc chắc muốn xoá?
            </p>
            <a-divider />
        </div>
        <div class="text-center mt-5">
            Lưu ý: Bạn không thể hoàn tác hành động này
        </div>
    </a-modal>
</template>
<script>
    export default {
        name: 'ConfirmDeleteDialog',
        data() {
            return {
                visible: false,
            };
        },

        emits: ['ok', 'cancel'],

        methods: {
            open(category) {
                this.visible = true;
                this.category = category;
            },
            close() {
                this.visible = false;
                this.$emit('cancel');
            },
            handleOk() {
                this.visible = false;
                this.$emit('ok');
            },
        },
    };
</script>

<style lang="scss">
.delete-dialog {
    .ant-divider {
        @apply my-5 bg-gray-700 min-w-0 w-1/3 #{!important};
    }
}
</style>
