<template>
    <a-form-model
        ref="form"
        class="product-form"
        :label-col="{ span: 5 }"
        :wrapper-col="{ span: 19 }"
        :model="form"
        :rules="rules"
        :colon="false"
        label-align="left"
    >
        <a-row :gutter="16">
            <a-col :span="6">
                <a-form-model-item :wrapper-col="{ span: 24}">
                    <a-upload
                        ref="fileUploader"
                        list-type="picture-card"
                        :file-list="mediaFileList"
                        :show-upload-list="false"
                        :custom-request="uploadImageHandler"
                        class="product-form__media-file"
                        :before-upload="beforeUploadFile"
                        multiple
                        @change="handleFileListChange"
                    />
                    <div class="relative w-full h-64 mb-4 media-file ">
                        <button
                            v-if="form.image"
                            class="delete-file-btn"
                            :disabled="disabled"
                            @click="deleteMediaFile"
                        >
                            <i class="fas fa-times" />
                        </button>
                        <div v-if="isUploadingFile" class="h-full w-full text-3xl flex justify-center items-center">
                            <a-icon type="loading" />
                        </div>
                        <div v-else-if="!form.image" class="rounded-lg upload-placeholder">
                            <a-icon type="picture" theme="filled" />
                        </div>
                        <img
                            v-else
                            :src="form.image"
                            alt=""
                            class="rounded-lg object-cover w-full h-full hover:cursor-pointer"
                            @click="previewFile"
                        >
                        <div class="absolute left-0 bottom-0 h-9 bg-gray-400 w-full opacity-75 rounded-b-lg">
                            <a-dropdown :trigger="['click']" :disabled="disabled">
                                <div class="w-full h-full flex justify-center items-center text-xl hover:cursor-pointer">
                                    <a-icon type="plus" />
                                </div>
                                <a-menu slot="overlay" @click="fileDropdownHandler">
                                    <a-menu-item :key="FILE_DROPDOWN_KEYS.UPLOAD">
                                        Chọn File...
                                    </a-menu-item>
                                </a-menu>
                            </a-dropdown>
                        </div>
                    </div>
                </a-form-model-item>
            </a-col>
            <a-col :span="18">
                <card>
                    <h2 class="text-lg font-bold title">
                        Thông tin chung
                    </h2>
                    <a-form-model-item
                        prop="name"
                        label="Tên sản phẩm"
                        class="product-form__required-field"
                    >
                        <a-input
                            v-model="form.name"
                            :disabled="disabled"
                            placeholder="Nhập tên sản phẩm"
                        />
                    </a-form-model-item>
                    <a-form-model-item
                        prop="brand"
                        label="Hãng sản xuất"
                    >
                        <a-input
                            v-model="form.brand"
                            :disabled="disabled"
                            placeholder="Nhập tên nhà sản xuất"
                        />
                    </a-form-model-item>
                    <a-form-model-item
                        prop="category"
                        label="Loại sản phẩm"
                        class="product-form__required-field"
                    >
                        <a-select
                            v-model="form.category"
                            :disabled="disabled"
                            placeholder="Chọn loại sản phẩm"
                            :not-found-content="loadingCategory ? undefined : null"
                        >
                            <a-spin v-if="loadingCategory" slot="notFoundContent" />
                            <a-select-option
                                v-for="category in categories"
                                :key="category.value"
                                :value="category.value"
                            >
                                {{ category.label }}
                            </a-select-option>
                        </a-select>
                    </a-form-model-item>
                    <a-form-model-item
                        prop="count"
                        label="Số lượng sản phẩm"
                    >
                        <a-input-number
                            v-model="form.count"
                            placeholder="Nhập số lượng sản phẩm "
                            style="width: 100%"
                            :disabled="disabled"
                            :formatter="count => `${count}`.replace(/\B(?=(\d{3})+(?!\d))/g, ',')"
                            :parser="count => count.replace(/(,*)/g, '')"
                        />
                    </a-form-model-item>
                    <a-form-model-item
                        prop="price"
                        label="Giá sản phẩm"
                    >
                        <a-input
                            :value="productPrice"
                            addon-after="VNĐ"
                            placeholder="Nhập giá sản phẩm"
                            style="width: 100%"
                            :disabled="disabled"
                            @change="updatePrice"
                        />
                    </a-form-model-item>
                    <a-form-model-item
                        prop="discount"
                        label="Khuyến mại"
                    >
                        <a-input-number
                            v-model="form.discount"
                            placeholder="Nhập khuyến mại"
                            style="width: 100%"
                            :disabled="disabled"
                            :formatter="value => value ? `${value}%` : ''"
                            :parser="value => value.replace('%', '')"
                        />
                        <p class="m-0">
                            Để trống nếu không có khuyến mại
                        </p>
                    </a-form-model-item>
                </card>
                <card class="card">
                    <h2 class="text-lg font-bold title">
                        Thuộc tính
                    </h2>
                    <a-row
                        v-for="(_, i) in form.specifications"
                        :key="i"
                        :gutter="16"
                    >
                        <a-col :span="10">
                            <a-form-model-item
                                label="Tên thuộc tính"
                                :label-col="{ span: 10 }"
                                :wrapper-col="{ span: 14 }"
                            >
                                <a-input
                                    :value="form.specifications[i].name"
                                    placeholder="Nhập tên thuộc tính"
                                    :disabled="disabled"
                                    @change="updateProductAttributeCode($event, i)"
                                />
                            </a-form-model-item>
                        </a-col>
                        <a-col :span="13">
                            <a-form-model-item
                                label="Giá trị"
                                :label-col="{ span: 5 }"
                                :wrapper-col="{ span: 19 }"
                            >
                                <a-input
                                    v-model="form.specifications[i].value"
                                    placeholder="Nhập giá trị"
                                    :disabled="disabled"
                                />
                            </a-form-model-item>
                        </a-col>
                        <a-col :span="1">
                            <button
                                class="mt-2 text-black hover:text-gray-600 hover:cursor-pointer disabled:cursor-not-allowed"
                                :disabled="disabled"
                                @click="deleteElement(i)"
                            >
                                <i class="far fa-trash-alt" />
                            </button>
                        </a-col>
                    </a-row>
                    <a-button
                        class="add-element-btn"
                        :disabled="disabled"
                        @click="addElement"
                    >
                        <i class="fas fa-plus-circle" /> <span class="ml-2">Thêm mới</span>
                    </a-button>
                </card>
                <card class="card">
                    <h4 class="text-lg font-bold title">
                        Mô tả sản phẩm
                    </h4>
                    <CKEditor v-model="form.description" :disabled="disabled" class="h-96" />
                </card>
            </a-col>
        </a-row>
        <div v-if="!disabled" class="flex justify-end">
            <a-button
                type="link"
                class="product-form__btn cancel-btn mr-4"
                @click="cancelSubmit"
            >
                Hủy
            </a-button>
            <a-button
                class="product-form__btn submit-btn"
                @click="submitForm"
            >
                {{ product ? "Cập nhật" : "Lưu" }}
            </a-button>
        </div>
        <a-modal
            :footer="null"
            :visible="!!filePreview"
            class="product-form__preview-modal"
            @cancel="hidePreviewModal"
        >
            <button type="button" class="close-modal-btn" @click="hidePreviewModal">
                <i class="fas fa-times" />
            </button>
            <img
                :src="filePreview !== null ? filePreview : ''"
                alt=""
                class="w-full hover:cursor-pointer"
            >
        </a-modal>
    </a-form-model>
</template>

<script>
    import { mapGetters } from 'vuex';
    import _cloneDeep from 'lodash/cloneDeep';
    import _deburr from 'lodash/deburr';
    import _kebabCase from 'lodash/kebabCase';
    import CKEditor from '~/components/shared/Editor.vue';

    const FILE_DROPDOWN_KEYS = {
        UPLOAD: 'upload',
    };

    const specification = { code: '', name: '', value: '' };

    const defaultForm = {
        name: '',
        brand: '',
        // Loại sản phẩm
        category: undefined, // đặt undefined để hiện placeholder
        count: '',
        price: '',
        discount: '',
        // Thuộc tính
        specifications: [
            specification,
        ],
        // Mô tả
        description: '',
        // Danh sách file media (ảnh + video)
        // Chỉ lưu link và định dạng của file
        image: '',
    };

    export default {
        name: 'ProductForm',
        components: { CKEditor },
        props: {
            disabled: {
                type: Boolean,
                default: false,
            },
            product: {
                type: Object,
            },
        },

        emits: ['submit'],

        data() {
            const form = this.product ? _cloneDeep(this.product) : _cloneDeep(defaultForm);
            form.price = form.price.toString();
            return {
                filePreview: null,
                mediaFileList: [], // Lưu danh sách file được upload
                isUploadingFile: false,
                form,
                rules: {
                    name: [
                        {
                            required: true,
                            message: 'Vui lòng nhập tên sản phẩm',
                            trigger: 'change',
                        },
                    ],
                    category: [
                        {
                            required: true,
                            message: 'Vui lòng chọn danh mục sản phẩm',
                            trigger: 'change',
                        },
                    ],
                    description: [
                        {
                            required: true,
                            message: 'Vui lòng nhập mô tả sản phẩm',
                            trigger: 'change',
                        },
                    ],
                    count: [
                        {
                            validator: (_, value, callback) => {
                                if (value && value < 0) {
                                    callback(new Error('Vui lòng nhập đúng số lượng sản phẩm'));
                                    return;
                                }
                                callback();
                            },
                            trigger: 'change',
                        },
                    ],
                    price: [
                        {
                            validator: (_, value, callback) => {
                                if (value && value < 0) {
                                    callback(new Error('Vui lòng nhập đúng đơn giá sản phẩm'));
                                    return;
                                }
                                callback();
                            },
                            trigger: 'change',
                        },
                    ],
                    discount: [
                        {
                            validator: (_, value, callback) => {
                                if (value && (value < 0 || value > 100)) {
                                    callback(new Error('Vui lòng nhập đúng khuyến mại sản phẩm(0 - 100%)'));
                                    return;
                                }
                                callback();
                            },
                            trigger: 'change',
                        },
                    ],
                },
                FILE_DROPDOWN_KEYS,
            };
        },

        computed: {
            productPrice() {
                if (!this.form.price) {
                    return '';
                }

                return this.form.price.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
            },
            ...mapGetters('categories', {
                categories: 'getCategories',
                loadingCategory: 'getLoadingState',
            }),
        },

        mounted() {
            // Nếu  loại sản phẩm chưa được lấy từ API, tải chúng về
            if (!this.$store.getters['categories/getCategories']) {
                this.$store.dispatch('categories/fetchAll');
            }
        },

        methods: {
            updatePrice(e) {
                this.form.price = e.target.value.replaceAll(',', '');
            },

            updateProductAttributeCode(e, index) {
                this.form.specifications[index].name = e.target.value;
                this.form.specifications[index].code = _kebabCase(_deburr(e.target.value));
            },

            fileDropdownHandler({ key }) {
                switch (key) {
                    case FILE_DROPDOWN_KEYS.UPLOAD:
                        this.activeUploadFile();
                        break;

                    default:
                        break;
                }
            },

            activeUploadFile() {
                // Tự động kích hoạt sự kiện upload trong upload của ant
                this.$refs.fileUploader.$el.querySelector('input[type=file]').click();
            },

            deleteElement(index) {
                this.form.specifications.splice(index, 1);
            },

            addElement() {
                this.form.specifications.push({ ...specification });
            },

            previewFile() {
                this.filePreview = this.form.image;
            },

            hidePreviewModal() {
                this.filePreview = null;
            },

            deleteMediaFile() {
                this.form.image = '';
                this.mediaFileList = [];
            },

            async uploadImageHandler({ onSuccess, onError, file: image }) {
                const imageContainer = new FormData();
                imageContainer.append('image', image);
                try {
                    const responseData = await this.$api.common.upload(imageContainer);
                    onSuccess(responseData, null);
                } catch (error) {
                    onError(error);
                }
            },

            handleFileListChange({ fileList, file: uploadedFile }) {
                if (uploadedFile.status === 'done') {
                    this.isUploadingFile = false;
                    this.form.image = uploadedFile.response.path;
                }

                this.mediaFileList = fileList.slice(-1);
            },

            beforeUploadFile() {
                this.isUploadingFile = true;

                return true;
            },

            cancelSubmit() {
                this.$router.back();
            },

            submitForm() {
                this.$refs.form.validate((valid) => {
                    if (valid) {
                        this.$emit('submit', this.form);
                    } else {
                        return false;
                    }
                });
            },
        },
    };
</script>

<style lang="scss" scoped>
    .upload-placeholder {
        @apply bg-gray-200 text-8xl h-full w-full flex justify-center items-center;
    }

    .thumbnail {
        @apply transition-all rounded-lg h-21 w-full object-cover hover:cursor-pointer;
        &:hover {
            box-shadow: 0px 4px 10px rgba(15, 3, 34, 0.25);
        }
    }

    .media-file {
        button {
            @apply opacity-0 transition-opacity;
        }

        &:hover button {
            @apply opacity-100;
        }
    }

    .card {
        @apply mt-8 mb-4;
    }

    .title {
        @apply mb-6;
    }

    .cancel-btn {
        @apply text-black mr-4 hover:bg-blue-400 hover:text-white;
    }

    .submit-btn {
        @apply  bg-blue-500 text-white hover:bg-blue-400 px-20 py-2;
    }

    .close-modal-btn {
        @apply h-10 w-10 flex justify-center items-center bg-white rounded-full absolute top-0 right-0 text-xl transition-all duration-200 hover:cursor-pointer  hover:bg-blue-400 hover:text-white;
        transform: translate(50%, -50%);
    }

    .add-element-btn {
        @apply border-0 text-black font-bold bg-transparent;
    }

    .delete-file-btn {
        @apply  w-5 h-5 absolute top-2 right-2 leading-5 align-middle text-center text-black bg-white rounded-full hover:cursor-pointer hover:bg-blue-500 hover:text-white  disabled:cursor-not-allowed;
    }
</style>

<style lang="scss">
.product-form {
    @apply max-w-7xl mx-4 #{!important};

    &__media-file {
        @apply hidden #{!important};
    }

    .ant-form-item-label {
        @apply font-bold;
    }

    .ant-input-number-handler-wrap {
        @apply hidden #{!important};
    }

    &__description-input {
        label {
            @apply text-lg mb-5 #{!important};
        }

        textarea {
            @apply resize-none;
        }
    }

    &__preview-modal {
        .ant-modal-body {
            @apply relative p-0;
        }

        .ant-modal-close {
            @apply hidden;
        }
    }

    &__btn {
        @apply h-auto rounded-lg #{!important};
    }

    &__required-field {
        label.ant-form-item-required {
            &::before {
                @apply hidden;
            }

            &::after {
                @apply inline-block ml-1 text-red-500 text-base leading-none  ;
                content: '*' !important;
            }
        }

    }

}
</style>
