<template>
    <div>
        <h1 class="text-3xl">
            Danh sách khách hàng
        </h1>
        <search placeholder="Nhập họ tên khách hàng muốn tìm kiếm" class="my-6" />
        <UserList :data="users" :loading="loading" />
        <the-pagination :data="pagination" />
    </div>
</template>

<script>
    import UserList from '~/components/customer/user/table/UserList.vue';

    const MAX_RECORD = 12;
    const DEFAULT_PAGE = 1;

    export default {
        name: 'UserListPage',
        components: { UserList },

        async fetch() {
            this.loading = true;
            try {
                const { pageNum: page, pageSize: limit, ...search } = this.$route.query;
                const query = {
                    page: page || DEFAULT_PAGE, limit: limit || MAX_RECORD, order_by: 'desc', ...search,
                };

                const users = await this.$api.user.getAll(query);
                const { meta, data } = users;

                this.users = data.map(({
                    id, username, address, birthday, gender, email, avatar_url: avatar, created_at: time, nick_name: nickname, phone_number: phone,
                }) => ({
                    id, username, address, birthday, gender: String(gender), email, avatar, time, nickname, phone,
                }));

                this.pagination = { page: query.page, perPage: query.limit, total: meta.total };
            } catch (error) {
                console.log(error);
                this.$message.error('Có lỗi xảy ra, không lấy được danh sách người dùng');
            } finally {
                this.loading = false;
            }
        },

        data() {
            const pagination = {
                page: this.$route.query.pageNum || DEFAULT_PAGE,
                total: 30,
                perPage: this.$route.query.pageSize || MAX_RECORD,
            };

            return {
                users: [],
                loading: false,
                pagination,
            };
        },

        watch: {
            '$route.query': function () {
                this.$fetch();
            },
        },

    };
</script>
