<template>
    <div>
        <h1 class="text-2xl">
            Chi tiết đơn hàng
        </h1>
        <p>Trạng thái: <span :style="{color:stateColors[order.state] }">{{ orderStates[order.state] }}</span></p>
        <a-divider />
        <a-row :gutter="[24, 24]">
            <a-col :span="8">
                <h3 class="uppercase text-lg">
                    Mã đơn hàng
                </h3>
                <p>{{ order.id }}</p>
            </a-col>
            <a-col :span="8">
                <h3 class="uppercase text-lg">
                    Ngày tạo
                </h3>
                <p>{{ order.createTime | datetimeFormat('DD/MM/YYYY') }}</p>
            </a-col>
            <a-col :span="8">
                <h3 class="uppercase text-lg">
                    Địa chỉ nhận
                </h3>
                <p>{{ order.address }}</p>
            </a-col>
            <a-col :span="24">
                <OrderItemsTable :data="order.orders" :loading="false" />
            </a-col>
            <a-col :span="7">
                <h3 class="uppercase text-lg">
                    Phương thức thanh toán
                </h3>
                <p>Trực tiếp</p>
            </a-col>
            <a-col :span="5">
                <h3 class="uppercase text-lg">
                    Phí giao hàng
                </h3>
                <p>
                    {{ order.shipping | numberFormat }} VNĐ
                </p>
            </a-col>
            <a-col :span="6">
                <h3 class="uppercase text-lg">
                    Tổng tiền sản phẩm
                </h3>
                <p>
                    {{ order.amount | numberFormat }} VNĐ
                </p>
            </a-col>
            <a-col :span="6">
                <h3 class="uppercase text-lg">
                    Tổng hóa đơn
                </h3>
                <p class="text-red-500 font-bold text-lg">
                    {{ order.total | numberFormat }} VNĐ
                </p>
            </a-col>
            <a-col :span="24">
                <a-space class="flex justify-end" :size="24">
                    <template v-for="button in stateButtons">
                        <button
                            v-if="button.show"
                            :key="button.key"
                            :style="{
                                background: button.color
                            }"
                            class="text-white px-8 py-2 rounded disabled:cursor-not-allowed"
                            :loading="isSubmitting"
                            :disabled="isSubmitting"
                            @click="button.handler"
                        >
                            {{ button.label }}
                        </button>
                    </template>
                </a-space>
            </a-col>
        </a-row>
    </div>
</template>

<script>
    import orderStates, { COLORS as stateColors } from '@/constants/order';
    import OrderItemsTable from '@/components/orders/table/OrderItem.vue';

    const [deliverying, processing, complete, rejected] = Object.entries(orderStates);

    export default {
        name: 'OrderDetailPage',
        components: { OrderItemsTable },

        async asyncData({ $api, params }) {
            const { data } = await $api.order.getOrder(params.id);
            const {
                created_at: createTime,
                order_date: orderDate,
                phone_number: phone,
                recipient_name: receiver,
                ship_fee: shipping,
                status: state,
                order_items: orderItems,
                ...remains
            } = data;
            const order = {
                createTime,
                phone,
                name: receiver,
                shipping,
                orderDate,
                state,
                orders: orderItems.map(({
                    product: {
                        id, name, price, discount,
                    }, amount,
                }) => ({
                    id, name, amount, price, discount,
                })),
                total: remains.amount + shipping,
                ...remains,
            };

            return { order };
        },

        data() {
            return {
                orderStates,
                stateColors,
                isSubmitting: false,
            };
        },

        computed: {
            stateButtons() {
                return [
                    {
                        key: deliverying[0],
                        label: 'Xác nhận',
                        color: stateColors[deliverying[0]],
                        show: this.order.state === processing[0],
                        handler: this.changeState.bind(this, deliverying[0]),
                    },
                    {
                        key: complete[0],
                        label: 'Hoàn thành',
                        color: stateColors[complete[0]],
                        show: this.order.state === deliverying[0],
                        handler: this.changeState.bind(this, complete[0]),
                    },
                    {
                        key: rejected[0],
                        label: 'Hủy đơn',
                        color: stateColors[rejected[0]],
                        show: this.order.state === deliverying[0] || this.order.state === processing[0],
                        handler: this.changeState.bind(this, rejected[0]),
                    },
                ];
            },
        },

        methods: {
            async changeState(status) {
                try {
                    this.isSubmitting = true;
                    await this.$api.order.update(this.$route.params.id, { status });
                    this.$set(this.order, 'state', status);
                    this.$message.success('Cập nhật thành công');
                } catch (error) {
                    console.log(error);
                    this.$message.error('Có lỗi xảy ra, thử lại sau');
                } finally {
                    this.isSubmitting = false;
                }
            },
        },
    };
</script>
