<template>
    <div>
        <h1 class="text-2xl">
            Danh sách đơn hàng
        </h1>
        <div class="my-5 px-7 py-6 border rounded-md ">
            <OrderFilter />
        </div>
        <OrderList :loading="isGettingData" :data="orders" class="my-5" />
        <the-pagination :data="pagination" />
    </div>
</template>

<script>
    // import { order } from '@/constants/fake-data';
    import OrderList from '@/components/orders/table/OrderList.vue';
    import OrderFilter from '@/components/orders/filter/Filter.vue';

    const MAX_RECORD = 12;
    const DEFAULT_PAGE = 1;
    export default {
        name: 'OrderListPage',
        components: { OrderList, OrderFilter },

        async fetch() {
            this.isGettingData = true;
            const { pageNum: page, pageSize: limit, ...search } = this.$route.query;
            const query = {
                page: page || DEFAULT_PAGE, limit: limit || MAX_RECORD, ...search, order_by: 'desc',
            };

            try {
                const { data, meta } = await this.$api.order.getAll(query);
                const orders = data.map(({
                    created_at: createTime,
                    order_date: orderDate,
                    phone_number: phone,
                    recipient_name: name,
                    ship_fee: shipping,
                    status: state,
                    ...order
                }) => ({
                    createTime,
                    phone,
                    name,
                    shipping,
                    orderDate,
                    state,
                    total: order.amount + shipping,
                    ...order,
                }));

                this.orders = orders;
                this.pagination = { page: query.page, perPage: query.limit, total: meta.total };
            } catch (error) {
                console.log(error);
                this.$message.error('Có lỗi xảy ra, không thế lấy danh sách đơn hàng');
            } finally {
                this.isGettingData = false;
            }
        },

        data() {
            const pagination = {
                page: this.$route.query.pageNum || DEFAULT_PAGE,
                total: 0,
                perPage: this.$route.query.pageSize || MAX_RECORD,
            };
            return {
                isGettingData: false,
                pagination,
                orders: [],
            };
        },

        watch: {
            '$route.query': function () {
                this.$fetch();
            },
        },

    };
</script>
