<template>
    <a-table
        :data-source="data"
        :pagination="false"
        class="product-table"
        :row-class-name="calcStripedRowTable"
        :loading="loading"
        row-key="id"
    >
        <a-table-column
            align="center"
            title="Mã sản phẩm"
            data-index="id"
            width="150px"
        >
            <template #default="id">
                <nuxt-link :to="'/san-pham/' + id" class="text-black underline">
                    {{ id }}
                </nuxt-link>
            </template>
        </a-table-column>
        <a-table-column
            align="center"
            title="Tên sản phẩm"
            data-index="name"
            ellipsis
        >
            <template #default="name">
                <p class="m-0" style="min-width:150px">
                    {{ name }}
                </p>
            </template>
        </a-table-column>
        <a-table-column
            align="center"
            title="Hình ảnh"
            data-index="image"
            width="100px"
        >
            <template #default="image">
                <img
                    class="w-12 h-12 object-cover"
                    :src="image"
                    alt=""
                >
            </template>
        </a-table-column>
        <a-table-column
            align="center"
            title="Loại sản phẩm"
            data-index="category"
            width="150px"
            ellipsis
        />
        <a-table-column
            align="center"
            title="Ngày khởi tạo"
            data-index="createTime"
            width="150px"
        >
            <template #default="time">
                <span>{{ time | datetimeFormat("DD/MM/YYYY") }}</span>
            </template>
        </a-table-column>
        <a-table-column align="right" width="100px">
            <template #default="action">
                <button class="mr-5 text-xl" @click="navigateToEdit(action)">
                    <i class="fas fa-pen" />
                </button>
                <button class="text-lg" @click="deleteNotification(action)">
                    <i class="far fa-trash-alt" />
                </button>
            </template>
        </a-table-column>
    </a-table>
</template>
<script>
    export default {
        name: 'ProductListTable',
        props: {
            data: {
                type: Array,
                required: true,
            },
            loading: {
                type: Boolean,
                required: true,
            },
        },
        emits: ['deleteProduct'],
        methods: {
            navigateToEdit({ id }) {
                this.$router.push(`/san-pham/${id}/chinh-sua`);
            },
            deleteNotification({ id }) {
                this.$emit('deleteProduct', id);
            },
            calcStripedRowTable(_, i) {
                return i % 2 === 0 ? 'bg-white' : 'bg-blue-50';
            },
        },
    };
</script>

<style lang="scss">
.product-table {
    .ant-table-thead {
        th {
            @apply bg-cyan-400 text-white #{!important};
        }
    }
}
</style>
