<template>
    <a-table
        :data-source="tableData"
        :pagination="false"
        class="category-table"
        :row-class-name="calcStripedRowTable"
        :loading="loading"
        :columns="tableColumns"
        row-key="id"
    >
        <template #image="image">
            <img
                :src="image"
                alt=""
                class="w-full object-fill"
                style="max-height: 50px"
            >
        </template>
        <template #name="name">
            <p class="m-0" style="min-width:150px">
                {{ name }}
            </p>
        </template>
        <template #description="description">
            <p class="m-0 whitespace-nowrap" style="min-width:150px">
                {{ description }}
            </p>
        </template>
        <template #action="action">
            <button class="mr-5 text-xl" @click="navigateToEdit(action)">
                <i class="fas fa-pen" />
            </button>
            <button class="text-lg" @click="deleteCategory(action)">
                <i class="far fa-trash-alt" />
            </button>
        </template>
    </a-table>
</template>
<script>

    const tableColumns = [
        {
            align: 'left',
            title: 'STT',
            dataIndex: 'index',
            width: '150px',
        },
        {
            align: 'center',
            title: 'Ảnh đại diện',
            dataIndex: 'image',
            width: '150px',
            scopedSlots: { customRender: 'image' },
        },
        {
            align: 'center',
            title: 'Danh mục sản phẩm',
            dataIndex: 'name',
            ellipsis: true,
            scopedSlots: { customRender: 'name' },
        },
        {
            align: 'center',
            title: 'Mô tả',
            dataIndex: 'description',
            ellipsis: true,
            scopedSlots: { customRender: 'description' },
        },
        {
            align: 'center',
            title: 'Số lượng sản phẩm',
            dataIndex: 'productCount',
            width: '200px',
        },
        {
            align: 'right',
            width: '100px',
            scopedSlots: { customRender: 'action' },
        },
    ];

    export default {
        name: 'CategoryList',
        props: {
            data: {
                type: Array,
                required: true,
            },
            loading: {
                type: Boolean,
                required: true,
            },
        },
        emits: ['deleteCategory', 'selectRows', 'editCategory'],
        data() {
            const tableData = this.data;
            return {
                tableData,
                tableColumns,
            };
        },
        watch: {
            data(newData) {
                this.tableData = newData;
            },
        },
        methods: {
            navigateToEdit(category) {
                this.$emit('editCategory', category);
            },
            deleteCategory(category) {
                this.$emit('deleteCategory', category);
            },
            calcStripedRowTable(_, i) {
                return i % 2 === 0 ? 'row--stripe' : 'row';
            },
        },
    };
</script>

<style lang="scss">
.category-table {
    .ant-table-thead {
        @apply bg-cyan-400;

        th {
            @apply bg-transparent text-white #{!important};
        }
    }

    .row {
        @apply bg-white #{!important};

        &--stripe {
            @apply bg-blue-50 #{!important};

        }
    }
}
</style>
