<template>
    <div class="login">
        <h4 class="text-xl text-center text-blue-400">
            Tiki
        </h4>
        <div class="my-2 flex justify-between items-center">
            <a-divider />
            <p class="whitespace-nowrap text-xl m-0">
                Đăng nhập
            </p>
            <a-divider />
        </div>
        <a-form-model
            ref="form"
            :model="form"
            :rules="rules"
            class="login-form"
        >
            <a-form-model-item prop="phone_number">
                <a-input
                    v-model="form.phone_number"
                    name="phone_number"
                    placeholder="Nhập số điện thoại của bạn"
                    allow-clear
                    @pressEnter="submitForm"
                >
                    <template #prefix>
                        <i class="fa-solid fa-phone" />
                    </template>
                </a-input>
            </a-form-model-item>
            <a-form-model-item prop="password">
                <a-input
                    v-model="form.password"
                    placeholder="Nhập mật khẩu"
                    :type="showPassword? 'text': 'password'"
                    name="password"
                    allow-clear
                    @pressEnter="submitForm"
                >
                    <template #prefix>
                        <i class="fa-solid fa-lock" />
                    </template>
                    <template #suffix>
                        <i style="line-height: 0;" @click="showPassword = !showPassword">
                            <a-icon v-if="!showPassword" type="eye" />
                            <a-icon v-else type="eye-invisible" />
                        </i>
                    </template>
                </a-input>
            </a-form-model-item>
            <div class="my-5">
                <nuxt-link to="/quen-mat-khau">
                    Quên mật khẩu?
                </nuxt-link>
            </div>
            <a-button
                type="primary"
                class="login-btn login-btn--info"
                :loading="isSubmitting"
                :disabled="isSubmitting"
                @click="submitForm"
            >
                Đăng nhập
            </a-button>
        </a-form-model>
    </div>
</template>

<script>
    import phoneValidator from '@/utils/phoneValidator';

    export default {
        layout: 'auth',

        auth: false,
        name: 'LoginPage',

        data() {
            return {
                form: {
                    phone_number: '',
                    password: '',
                },
                isSubmitting: false,
                showPassword: false,
                rules: {
                    phone_number: [
                        { required: true, message: 'Vui lòng nhập số điện thoại của bạn', trigger: 'change' },
                        {
                            validator:
                                (rule, value, callback) => {
                                    if (phoneValidator(value)) {
                                        callback();
                                    } else {
                                        callback(new Error('Nhập đúng đinh dạng số điện thoại'));
                                    }
                                },
                            trigger: 'change',
                        },
                    ],
                    password: [
                        { required: true, message: 'Vui lòng nhập mật khẩu', trigger: 'change' },
                    ],
                },
            };
        },
        methods: {
            submitForm() {
                this.$refs.form.validate(async (valid) => {
                    if (valid) {
                        try {
                            this.isSubmitting = true;
                            await this.$auth.loginWith('local', {
                                data: this.form,
                            });
                            this.$router.push('/');
                            this.$message.success('Đăng nhập thành công');
                        } catch (error) {
                            this.$message.error('Số điện thoại hoặc mật khẩu không chính xác');
                        } finally {
                            this.isSubmitting = false;
                        }
                    } else {
                        this.$message.error('Oops, Vui lòng nhập đầy đủ thông tin.');
                        return false;
                    }
                });
            },

        },
        head: () => ({
            title: 'Đăng nhập',
        }),
    };
</script>

<style lang="scss">
    .login {
        .ant-divider {
            @apply my-5 bg-blue-600 min-w-0 w-1/3 #{!important};
        }

        &-btn {
            @apply w-full #{!important};

            &--info  {
                @apply bg-sky-400 #{ !important};
            }
        }

        &-form {
            .ant-input {
                @apply pl-10 #{!important};
            }
        }
    }
</style>
