<template>
    <div class="change-password">
        <a-form-model
            ref="form"
            class="change-password-form"
            :label-col="{ span: 5 }"
            :wrapper-col="{ span: 19 }"
            :model="form"
            :rules="rules"
            label-align="left"
            :colon="false"
        >
            <a-form-model-item label="Mật khẩu mới" prop="newPassword">
                <a-input
                    v-model="form.newPassword"
                    :type="showNewPass ? 'text': 'password'"
                >
                    <template #suffix>
                        <i style="line-height: 0;" @click="showNewPass = !showNewPass">
                            <a-icon v-if="!showNewPass" type="eye" />
                            <a-icon v-else type="eye-invisible" />
                        </i>
                    </template>
                </a-input>
            </a-form-model-item>
            <a-form-model-item label="Nhập lại mật khẩu mới" prop="confirmPassword">
                <a-input
                    v-model="form.confirmPassword"
                    :type="showConfirmPass ? 'text': 'password'"
                >
                    <template #suffix>
                        <i style="line-height: 0;" @click="showConfirmPass = !showConfirmPass">
                            <a-icon v-if="!showConfirmPass" type="eye" />
                            <a-icon v-else type="eye-invisible" />
                        </i>
                    </template>
                </a-input>
            </a-form-model-item>
        </a-form-model>
        <div class="flex justify-end">
            <a-button
                type="link"
                class="change-password-form__btn cancel-btn mr-4"
                @click="cancelSubmit"
            >
                Hủy
            </a-button>
            <a-button
                class="change-password-form__btn submit-btn"
                @click="submitForm"
            >
                Xác nhận
            </a-button>
        </div>
    </div>
</template>

<script>
    import _cloneDeep from 'lodash/cloneDeep';

    const defaultForm = {
        newPassword: '',
        confirmPassword: '',
    };
    export default {
        data() {
            return {
                form: _cloneDeep(defaultForm),
                rules: {
                    newPassword: [
                        {
                            validator: (_, value, callback) => {
                                if (value.trim() === '') {
                                    callback(new Error('Vui lòng nhập mật khẩu mới'));
                                    return;
                                }
                                callback();
                            },
                            trigger: 'change',
                        },
                    ],
                    confirmPassword: [
                        {
                            validator: (_, value, callback) => {
                                if (value.trim() === '') {
                                    callback(new Error('Không được để trống'));
                                    return;
                                }
                                if (this.form.newPassword !== value) {
                                    callback(new Error('Vui lòng nhập lại mật khẩu mới'));
                                    return;
                                }
                                callback();
                            },
                            trigger: 'change',
                        },
                    ],

                },
                showNewPass: false,
                showConfirmPass: false,
            };
        },

        methods: {
            cancelSubmit() {
                this.$router.push('/');
            },
            submitForm() {
                this.$refs.form.validate(async (valid) => {
                    if (valid) {
                        const sendForm = {
                            ...this.form,
                            phone_number: this.$store.getters['admin/getPhoneNumber'],
                        };
                        try {
                            await this.$api.auth.changePassword(sendForm);
                            this.$message.success('Đổi mật khẩu thành công');
                        } catch (error) {
                            this.$message.error('Mật khẩu mới và xác nhận mật khẩu mới không trùng khớp');
                        }
                    } else {
                        return false;
                    }
                });
            },
        },
    };
</script>

<style lang="scss" scoped>
    .change-password {
        @apply ml-auto p-4;
        width: 1000px;

    }

    .cancel-btn {
        @apply text-black mr-4 hover:bg-red-500 hover:text-white;
    }

    .submit-btn {
        @apply  bg-blue-400 text-white hover:bg-blue-500 px-20 py-2;
    }
</style>

<style lang="scss">
.change-password-form {

    &__btn {
        @apply h-auto rounded-lg #{!important};
    }

}
</style>
