<template>
    <div>
        <a-row :gutter="[24, 24]" type="flex" justify="space-between">
            <a-col :span="6">
                <FlyingCard>
                    <p slot="title" class="font-bold">
                        Tổng số đơn hàng tháng này
                    </p>
                    <p class="text-xl m-0">
                        {{ order.all | numberFormat }} đơn
                    </p>
                </FlyingCard>
            </a-col>
            <a-col :span="6">
                <FlyingCard>
                    <p slot="title" class="font-bold">
                        Tổng số đơn hàng đang chờ xác nhận
                    </p>
                    <p class="text-xl m-0">
                        {{ order.processing | numberFormat }} đơn
                    </p>
                </FlyingCard>
            </a-col>
            <a-col :span="6">
                <FlyingCard>
                    <p slot="title" class="font-bold">
                        Tổng số đơn hàng đang được giao
                    </p>
                    <p class="text-xl m-0">
                        {{ order.deliverying | numberFormat }} đơn
                    </p>
                </FlyingCard>
            </a-col>
            <a-col :span="6">
                <FlyingCard>
                    <p slot="title" class="font-bold">
                        Tổng số đơn hàng đã hủy
                    </p>
                    <p class="text-xl m-0">
                        {{ order.cancel | numberFormat }} đơn
                    </p>
                </FlyingCard>
            </a-col>
        </a-row>
        <div class="my-4">
            <h2 class="text-2xl font-normal">
                Thống kê đơn hàng đã hoàn thành theo tháng
            </h2>
            <CompleteOrderGrowth :growth-statistic="statistic" />
        </div>
    </div>
</template>

<script>
    import CompleteOrderGrowth from '~/components/dashboard/chart/CompleteOrderGrowth.vue';
    import FlyingCard from '~/components/dashboard/Card.vue';

    export default {
        name: 'IndexPage',
        components: {
            CompleteOrderGrowth, FlyingCard,
        },

        async asyncData({ $api }) {
            const { data: { order, statistic } } = await $api.dashboard.getAll();
            return { order, statistic };
        },

        head: () => ({
            title: 'Trang chủ | Tiki Admin',
        }),
    };
</script>
