<template>
    <div class="forgot-pass font-Mulish">
        <h4 class="text-xl text-center text-blue-400">
            Tiki
        </h4>
        <div class="mt-2 flex justify-between items-center">
            <a-divider />
            <p class="m-0 whitespace-nowrap text-xl">
                Quên mật khẩu
            </p>
            <a-divider />
        </div>
        <p class="mt-10 mb-2">
            Vui lòng nhập số điện thoại và email của bạn
        </p>
        <a-form-model
            ref="form"
            :model="form"
            :rules="rules"
            class="forgot-pass-form"
        >
            <a-form-model-item prop="phone_number">
                <a-input v-model="form.phone_number" placeholder="Số điện thoại" @pressEnter="submitForm" />
            </a-form-model-item>
            <a-form-model-item prop="email">
                <a-input v-model="form.email" placeholder="Email" @pressEnter="submitForm" />
            </a-form-model-item>
            <div>
                <p>
                    Đã có tài khoản? <nuxt-link to="/dang-nhap">
                        Đăng nhập
                    </nuxt-link>
                </p>
            </div>
            <a-button type="primary" class="w-full submit-btn" @click="submitForm">
                Gửi
            </a-button>
        </a-form-model>
    </div>
</template>

<script>
    import _cloneDeep from 'lodash/cloneDeep';
    import phoneValidator from '~/utils/phoneValidator';

    const defaultForm = {
        phone_number: '',
        email: null,
    };

    export default {
        layout: 'auth',

        auth: false,
        name: 'ForgotPasswordPage',

        data() {
            return {
                form: _cloneDeep(defaultForm),
                isRemeber: false,
                rules: {
                    phone_number: [
                        { required: true, message: 'Vui lòng nhập số điện thoại', trigger: 'blur' },
                        {
                            validator: (_, value, callback) => {
                                if (!phoneValidator(value)) {
                                    callback(new Error('Vui lòng nhập đúng định dạng số điện thoại'));
                                    return;
                                }
                                callback();
                            },
                            trigger: 'change',
                        },
                    ],
                },
            };
        },
        methods: {
            submitForm() {
                this.$refs.form.validate(async (valid) => {
                    if (valid) {
                        try {
                            await this.$api.auth.forgetPassword(this.form);

                            this.$message.success('Mật khẩu mới đã được gửi đến email của bạn, đăng nhập vào tài khoản của bạn bằng mật khẩu đó');
                            this.$router.push('/dang-nhap');
                        } catch (error) {
                            switch (error?.response?.status) {
                                case 404:
                                    this.$message.error('Số điện thoại không tồn tại');
                                    break;
                                case 400:
                                    this.$message.error('Email không hợp lệ');
                                    break;
                                default:
                                    this.$message.error('Có lỗi xảy ra, thử lại sau');

                                    break;
                            }
                        }
                    } else {
                        this.$message.error('Oops, Vui lòng nhập đầy đủ thông tin.');
                        return false;
                    }
                });
            },
        },
        head: () => ({
            title: 'Tiki | Quên mật khẩu',
        }),
    };
</script>

<style lang="scss">

.forgot-pass{
    .ant-divider {
        @apply my-5 bg-gray-500 min-w-0 w-1/3 #{!important};
    }

    .submit-btn {
        @apply rounded-full #{!important};
    }
}
</style>
