<template>
    <div>
        <h1 class="text-2xl">
            Thông tin người quản trị
        </h1>
        <AdminForm
            class="!my-6"
            :user="admin"
            is-admin
            @submit="updateUserData"
        />
    </div>
</template>

<script>
    import AdminForm from '~/components/customer/user/form/Detail.vue';

    export default {
        name: 'AdminDetailPage',
        components: { AdminForm },

        async asyncData({ store }) {
            await store.dispatch('admin/GET_INFO');
            const admin = store.getters['admin/getInfo'];
            return { admin };
        },

        methods: {
            async updateUserData(form) {
                try {
                    console.log(form);
                    await this.$store.dispatch('admin/UPDATE_INFO', form);
                    this.$message.success('Cập nhật thành công');
                } catch (error) {
                    console.log(error);
                    this.$message.error('Cập nhật thành công');
                }
            },
        },

        head() {
            return {
                title: 'Thông tin người quản trị | Tiki.vn',
            };
        },
    };
</script>

<style lang="scss" scoped>
</style>
