<template>
    <a-table
        :data-source="tableData"
        :pagination="false"
        class="customer-agency-table"
        :row-class-name="calcStripedRowTable"
        :loading="loading"
        row-key="id"
    >
        <a-table-column
            key="column-index"
            align="center"
            title="Mã khách hàng"
            data-index="id"
            width="250px"
        >
            <template #default="id">
                <nuxt-link :to="'/nguoi-dung/cua-hang/' + id" class="text-current underline hover:text-blue-500">
                    {{ id }}
                </nuxt-link>
            </template>
        </a-table-column>
        <a-table-column
            key="column-customer-id"
            align="center"
            title="Tên"
            data-index="name"
            min-width="150px"
        />
        <a-table-column
            key="column-customer-code"
            align="center"
            title="Mã số thuế"
            data-index="tax_identification_number"
            width="150px"
        />
        <a-table-column
            key="column-customer-representative"
            align="center"
            title="Người đại diện"
            data-index="representative"
            min-width="150px"
        />
        <a-table-column
            key="column-time"
            align="center"
            title="Ngày đăng ký"
            data-index="time"
            width="150px"
        >
            <template #default="time">
                <p>{{ time | datetimeFormat('DD/MM/yyyy') }}</p>
            </template>
        </a-table-column>
        <a-table-column
            key="column-actions"
            width="100px"
        >
            <template #default="customer">
                <div class="flex justify-between items-center text-xl">
                    <div class="hover:cursor-pointer" @click="navigateToDetail(customer)">
                        <i class="fas fa-pen" />
                    </div>
                    <div class="hover:cursor-pointer" @click="deleteAgency(customer)">
                        <i class="far fa-trash-alt" />
                    </div>
                </div>
            </template>
        </a-table-column>
    </a-table>
</template>

<script>
    export default {
        name: 'ApprovedShops',
        props: {
            data: {
                type: Array,
                required: true,
            },
            loading: {
                type: Boolean,
                required: true,
            },
        },

        emits: ['deleteAgency'],

        data() {
            const tableData = this.data;
            return {
                tableData,
            };
        },

        watch: {
            data(newData) {
                this.tableData = newData;
            },
        },

        methods: {
            navigateToDetail({ id }) {
                this.$router.push(`/nguoi-dung/cua-hang/${id}`);
            },
            deleteAgency({ id }) {
                this.$emit('deleteAgency', id);
            },
            calcStripedRowTable(_, i) {
                return i % 2 === 0 ? 'row--stripe' : 'row';
            },
        },
    };
</script>

<style lang="scss">
.customer-agency-table {
.ant-table-thead {
    @apply bg-cyan-300;
    th {
        @apply bg-transparent #{!important};
    }
}
}
</style>
