<template>
    <a-table
        :data-source="tableData"
        :pagination="false"
        class="customer-pending-table"
        :row-class-name="calcStripedRowTable"
        :loading="loading"
    >
        <a-table-column
            key="column-index"
            align="center"
            title="Mã khách hàng"
            data-index="id"
            width="250px"
        >
            <template #default="id">
                <nuxt-link :to="'/nguoi-dung/cua-hang/' + id" class="text-current underline hover:text-blue-500">
                    {{ id }}
                </nuxt-link>
            </template>
        </a-table-column>
        <a-table-column
            key="column-customer-id"
            align="center"
            title="Tên"
            data-index="name"
            min-width="150px"
        />
        <a-table-column
            key="column-customer-code"
            align="center"
            title="Số điện thoại"
            data-index="phone"
            width="150px"
        />
        <a-table-column
            key="column-customer-representative"
            align="center"
            title="Người đại diện"
            data-index="representative"
            min-width="150px"
        />
        <a-table-column
            key="column-time"
            align="center"
            title="Ngày đăng ký"
            data-index="time"
            width="150px"
        >
            <template #default="time">
                <span>{{ time | datetimeFormat('DD/MM/yyyy') }}</span>
            </template>
        </a-table-column>
        <a-table-column
            key="column-actions"
            width="40px"
        >
            <template #default="customer">
                <a-dropdown :trigger="['click']">
                    <i class="fas fa-ellipsis-v" />
                    <template #overlay>
                        <a-menu @click="dropdownClickHandler($event, customer)">
                            <a-menu-item :key="DROPDOWN_KEYS.detail">
                                Xem thông tin chi tiết
                            </a-menu-item>
                            <a-menu-item :key="DROPDOWN_KEYS.approve">
                                Duyệt khách hàng
                            </a-menu-item>
                            <a-menu-item :key="DROPDOWN_KEYS.reject">
                                Từ chối khách hàng
                            </a-menu-item>
                        </a-menu>
                    </template>
                </a-dropdown>
            </template>
        </a-table-column>
    </a-table>
</template>

<script>
    const DROPDOWN_KEYS = {
        detail: 'detail',
        approve: 'approve',
        reject: 'reject',
    };

    export default {
        name: 'PendingShops',
        props: {
            data: {
                type: Array,
                required: true,
            },
            loading: {
                type: Boolean,
                required: true,
            },
        },

        data() {
            const tableData = this.data;
            return {
                tableData,
                DROPDOWN_KEYS,
            };
        },

        watch: {
            data() {
                this.tableData = this.data;
            },
        },

        methods: {
            calcStripedRowTable(_, i) {
                return i % 2 === 0 ? 'row--stripe' : 'row';
            },
            dropdownClickHandler({ key }, { id }) {
                switch (key) {
                    case DROPDOWN_KEYS.detail:
                        this.$router.push(`/nguoi-dung/cua-hang/${id}`);
                        break;
                    case DROPDOWN_KEYS.approve:
                        // this.$api.customer.approveAgency(id).then(() => {
                        this.$message.success('Phê duyệt thành công');
                        // }).catch(() => {
                        //     this.$message.error('Có lỗi xảy ra, thử lại sau');
                        // });
                        break;
                    case DROPDOWN_KEYS.reject:
                        // this.$api.customer.rejectAgency(id).then(() => {
                        this.$message.success('Từ chối thành công');
                        // }).catch(() => {
                        //     this.$message.error('Có lỗi xảy ra, thử lại sau');
                        // });

                        break;

                    default:
                        break;
                }
            },
        },
    };
</script>

<style lang="scss">
.customer-pending-table {
.ant-table-thead {
    @apply bg-cyan-300;
    th {
        @apply bg-transparent #{!important};
    }
}
}
</style>
