<template>
    <a-table
        :data-source="tableData"
        :pagination="false"
        class="customer-reject-table"
        :row-class-name="calcStripedRowTable"
        :loading="loading"
    >
        <a-table-column
            key="column-index"
            align="center"
            title="Mã khách hàng"
            data-index="id"
            width="250px"
        >
            <template #default="id">
                <nuxt-link :to="'/nguoi-dung/cua-hang/' + id" class="text-current underline hover:text-blue-500">
                    {{ id }}
                </nuxt-link>
            </template>
        </a-table-column>
        <a-table-column
            key="column-customer-id"
            align="center"
            title="Tên"
            data-index="name"
            min-width="150px"
        />
        <a-table-column
            key="column-customer-code"
            align="center"
            title="Số điện thoại"
            data-index="phone"
            width="150px"
        />
        <a-table-column
            key="column-customer-representative"
            align="center"
            title="Người đại diện"
            data-index="representative"
            min-width="150px"
        />
        <a-table-column
            key="column-time"
            align="center"
            title="Ngày đăng ký"
            data-index="time"
            width="150px"
        >
            <template #default="time">
                <span>{{ time | datetimeFormat('DD/MM/yyyy') }}</span>
            </template>
        </a-table-column>
        <a-table-column
            key="column-actions"
            width="200px"
        >
            <template #default="customer">
                <div class="flex justify-between items-center text-xl">
                    <a-button @click="reassessAgency(customer)">
                        Xét duyệt lại
                    </a-button>
                    <div class="hover:cursor-pointer" @click="deleteAgency(customer)">
                        <i class="far fa-trash-alt" />
                    </div>
                </div>
            </template>
        </a-table-column>
    </a-table>
</template>

<script>
    export default {
        name: 'RejectedShops',
        props: {
            data: {
                type: Array,
                required: true,
            },
            loading: {
                type: Boolean,
                required: true,
            },
        },
        emits: ['deleteAgency'],
        data() {
            const tableData = this.data;
            return {
                tableData,
            };
        },

        watch: {
            data() {
                this.tableData = this.data;
            },
        },

        methods: {
            async reassessAgency({ id }) {
                console.log(id);
                try {
                    // await this.$api.customer.reassessAgency(id);
                    this.$message.success('Đơn đã được đưa vào hàng chờ');
                } catch (e) {
                    console.log(e);
                    this.$message.error('Thử lại sau');
                }
            },
            deleteAgency({ id }) {
                this.$emit('deleteAgency', id);
            },
            calcStripedRowTable(_, i) {
                return i % 2 === 0 ? 'row--stripe' : 'row';
            },
        },
    };
</script>

<style lang="scss">
.customer-reject-table {
.ant-table-thead {
    @apply bg-cyan-300;
    th {
        @apply bg-transparent #{!important};
    }
}
}
</style>
