<template>
    <a-modal
        :visible="visible"
        title=""
        class="delete-dialog"
        ok-text="Xóa"
        cancel-text="Quay lại"
        @ok="handleOk"
        @cancel="handleCancel"
    >
        <div class="mt-2 flex justify-between items-center">
            <a-divider />
            <p class="m-0 whitespace-nowrap text-2xl text-black">
                Xoá sản phẩm?
            </p>
            <a-divider />
        </div>
        <div class="text-center mt-5">
            <p v-if="isSingleProduct">
                Bạn có chắc chắc muốn xoá sản phẩm này? (Mã sản phẩm: {{ product }})
            </p>
            <p v-else>
                Bạn có chắc chắc muốn xoá {{ productNumber }} sản phẩm?
            </p>
            <p>
                Lưu ý: Bạn không thể hoàn tác hành động này
            </p>
        </div>
    </a-modal>
</template>
<script>
    export default {
        props: {
            visible: {
                type: Boolean,
                required: true,
            },
            product: {
                type: [String, Array],
            },
        },

        emits: ['ok', 'cancel'],

        computed: {
            productNumber() {
                return this.product?.length || '';
            },
            isSingleProduct() {
                return typeof (this.product) === 'string';
            },
        },

        methods: {
            handleOk() {
                this.$emit('ok');
            },
            handleCancel() {
                this.$emit('cancel');
            },
        },
    };
</script>

<style lang="scss">
.delete-dialog {
    .ant-divider {
        @apply my-5 bg-gray-600 min-w-0 w-1/3 #{!important};
    }
}
</style>
