<template>
    <div>
        <h1 class="text-xl font-bold">
            <button class="hover:cursor-pointer mr-4" @click="goBack">
                <i class="fas fa-arrow-left" />
            </button> <span>{{ productName }}</span>
        </h1>
        <EditProductForm :product="product" @submit="updateProduct" />
    </div>
</template>

<script>
    import EditProductForm from '@/components/products/form/ProductForm.vue';

    export default {
        components: {
            EditProductForm,
        },

        async asyncData({ $api, params }) {
            const { data } = await $api.products.getProduct(params.id);

            const {
                id,
                name,
                brand,
                thumbnail_url: image,
                quantity: count,
                description,
                sold,
                specifications,
                sale_percent: discount,
                price,
                category_id: category,
            } = data;

            return {
                product: {
                    id,
                    name,
                    brand,
                    description,
                    sold,
                    price,
                    discount,
                    image,
                    count,
                    specifications: JSON.parse(specifications),
                    category,
                },
            };
        },

        computed: {
            productName() {
                return this.product.name;
            },
        },

        methods: {
            goBack() {
                this.$router.back();
            },
            async updateProduct(form) {
                try {
                    await this.$api.products.update(this.$route.params.id, form);

                    this.$message.success('Cập nhật sản phẩm thành công');
                    this.$router.push('/san-pham');
                } catch (error) {
                    console.log(error);
                    this.$message.error('Có lỗi xảy ra, không thể cập nhật sản phẩm');
                }
            },
        },

        head() {
            return {
                title: `Chỉnh sửa sản phẩm ${this.productName} | Tiki.vn`,
            };
        },
    };
</script>
