<template>
    <div>
        <div class="flex justify-between items-center mb-6">
            <h1 class="text-xl font-bold">
                <button class="hover:cursor-pointer mr-4" @click="goBack">
                    <i class="fas fa-arrow-left" />
                </button> <span>{{ productName }}</span>
            </h1>
            <nuxt-link :to="editLink" class="py-2 px-10 rounded-md bg-blue-500 hover:bg-blue-400 text-white hover:text-white">
                Chỉnh sửa
            </nuxt-link>
        </div>
        <DetailProductForm :product="product" disabled />
    </div>
</template>

<script>
    import DetailProductForm from '@/components/products/form/ProductForm.vue';

    export default {
        name: 'ProductDetailPage',
        components: {
            DetailProductForm,
        },

        async asyncData({ $api, params }) {
            const { data } = await $api.products.getProduct(params.id);

            const {
                id,
                name,
                brand,
                thumbnail_url: image,
                quantity: count,
                description,
                sold,
                specifications,
                sale_percent: discount,
                price,
                category_id: category,
            } = data;

            return {
                product: {
                    id,
                    name,
                    brand,
                    description,
                    sold,
                    price,
                    discount,
                    image,
                    count,
                    specifications: JSON.parse(specifications),
                    category,
                },
            };
        },

        computed: {
            productName() {
                return this.product.name;
            },
            editLink() {
                return `/san-pham/${this.product.id}/chinh-sua`;
            },
        },

        methods: {
            goBack() {
                this.$router.back();
            },
        },

        head() {
            return {
                title: `Chi tiết sản phẩm ${this.productName} | Tiki.vn`,
            };
        },

    };
</script>
