<template>
    <a-form-model
        ref="form"
        class="agency-info-form"
        :class="{
            disabled
        }"
        label-align="left"
        :colon="false"
        :label-col="{ span: 6 }"
        :wrapper-col="{ span: 18 }"
        :model="form"
        :rules="rules"
    >
        <a-form-model-item label="Tên đại lý" prop="name" class="agency-info-form__required-field">
            <a-input v-model="form.name" :disabled="disabled" />
        </a-form-model-item>
        <a-form-model-item label="Mã số thuế" prop="tax_identification_number" class="agency-info-form__required-field">
            <a-input v-model="form.tax_identification_number" :disabled="disabled" />
        </a-form-model-item>
        <a-form-model-item label="Mã đại lý" prop="merchant_code" class="agency-info-form__required-field">
            <a-input v-model="form.merchant_code" :disabled="disabled" />
        </a-form-model-item>
        <a-form-model-item prop="business_registration_certificate_file_path" class="agency-info-form__required-field">
            <template #label>
                <p class="m-0">
                    Giấy phép ĐKKD <strong class="text-red-500">*</strong>
                </p>
            </template>
            <div v-if="!disabled">
                <a-upload
                    name="file"
                    :file-list="registrationCertificate"
                    :show-upload-list="false"
                    @change="uploadFile"
                >
                    <a-button> <a-icon type="upload" /> Tải file lên </a-button>
                </a-upload>
            </div>
            <div v-if="uploadedFiles.length > 0">
                <a-row v-for="(file) in uploadedFiles" :key="file.path" align="middle">
                    <a-col :span="22">
                        <a class="block w-4/5 filename" :href="file.path" :download="file.name">
                            <a-icon type="file" />
                            <span class="ml-2">{{ file.name }}</span>
                        </a>
                    </a-col>
                    <a-col v-if="!disabled" :span="2">
                        <a-button class="delete-file-btn" @click="deleteUploadedFile(file.i, file.isUploaded)">
                            <i class="far fa-trash-alt" />
                        </a-button>
                    </a-col>
                </a-row>
            </div>
        </a-form-model-item>
        <a-form-model-item label="Địa chỉ công ty" prop="companyAddress" class="agency-info-form__required-field">
            <a-input v-model="form.companyAddress" :disabled="disabled" />
        </a-form-model-item>

        <a-form-model-item label="Người đại diện" prop="representative" class="agency-info-form__required-field">
            <a-input v-model.trim="form.representative" :disabled="disabled" />
        </a-form-model-item>

        <a-form-model-item label="Chức vụ" prop="representative_job_title">
            <a-input v-model="form.representative_job_title" :disabled="disabled" />
        </a-form-model-item>

        <a-form-model-item label="Email" prop="email">
            <a-input v-model.trim="form.email" :disabled="disabled" />
        </a-form-model-item>

        <a-form-model-item label="Số điện thoại" prop="phone" class="agency-info-form__required-field">
            <a-input v-model="form.phone" :disabled="disabled" />
        </a-form-model-item>

        <div v-if="!disabled" class="flex justify-end items-center">
            <a-button class="agency-info-form__btn mr-4 cancel-btn" @click="cancelSubmit">
                Hủy
            </a-button>
            <a-button class="agency-info-form__btn submit-btn" @click="submitForm">
                Cập nhật
            </a-button>
        </div>
    </a-form-model>
</template>

<script>
    import _cloneDeep from 'lodash/cloneDeep';

    export default {
        name: 'DetailShopForm',
        props: {
            agencyInfo: {
                type: Object,
                required: true,
            },
            disabled: {
                type: Boolean,
                default: false,
            },
        },

        emits: ['submit', 'deleteAgency'],

        data() {
            const form = _cloneDeep(this.agencyInfo);

            return {
                form,
                registrationCertificate: [],
                rules: {
                    name: [
                        { required: true, message: 'Vui lòng nhập tên đại lý', trigger: 'change' },
                    ],
                    merchant_code: [
                        { required: true, message: 'Vui lòng nhập mã đại lý', trigger: 'change' },
                    ],
                    tax_identification_number: [
                        { required: true, message: 'Vui lòng nhập mã số thuế', trigger: 'change' },
                    ],
                    companyAddress: [
                        { required: true, message: 'Vui lòng nhập địa chỉ công ty', trigger: 'change' },
                    ],
                    representative: [
                        { required: true, message: 'Vui lòng nhập người đại diện của công ty', trigger: 'change' },
                    ],
                    phone: [
                        { required: true, message: 'Vui lòng nhập số điện thoại', trigger: 'change' },
                    ],
                    business_registration_certificate_file_path: [
                        // {
                        //     type: 'array',
                        //     required: true,
                        //     message: 'Vui lòng tải giấy phép kinh doanh',
                        //     trigger: 'change',
                        // },
                        {
                            validator: (_, _2, callback) => {
                                if ((this.form.business_registration_certificate_file_path.length + this.registrationCertificate.length) < 1) {
                                    callback(new Error('Vui lòng tải giấy phép kinh doanh2'));
                                    return;
                                }
                                callback();
                            },
                            trigger: 'change',
                        },
                    ],
                },
            };
        },

        computed: {
            uploadedFiles() {
                const files = this.form.business_registration_certificate_file_path.map((path, i) => ({
                    name: path.slice(path.lastIndexOf('/') + 1),
                    isUploaded: true,
                    path,
                    i,
                }));

                this.registrationCertificate.forEach(
                    (file, i) => {
                        const fileObj = file.originFileObj;
                        const path = URL.createObjectURL(new Blob([fileObj]));

                        files.push({
                            name: file.name,
                            isUploaded: false,
                            path,
                            i,
                        });
                    },
                );
                return files;
            },
        },

        methods: {
            deleteUploadedFile(index, isUploaded) {
                if (isUploaded) {
                    this.form.business_registration_certificate_file_path.splice(index, 1);
                } else {
                    this.registrationCertificate.splice(index, 1);
                }
            },

            uploadFile({ fileList }) {
                this.registrationCertificate = fileList;
                // Bỏ error message sau khi upload file
                this.$nextTick(() => {
                    this.$refs.form.clearValidate('business_registration_certificate_file_path');
                });
            },

            deleteAgencyHandler(agencyId) {
                this.$emit('deleleAgency', agencyId);
            },

            cancelSubmit() {
                this.$router.back();
            },

            submitForm() {
                this.$refs.form.validate((valid) => {
                    if (valid) {
                        const submitData = {
                            form: this.form,
                            uploadFiles: this.registrationCertificate,
                        };

                        this.$emit('submit', submitData);
                    } else {
                        return false;
                    }
                });
            },
        },
    };
</script>

<style lang="scss" scoped>
    .filename {
        @apply text-black hover:text-blue-500 cursor-pointer;
    }
    .cancel-btn {
        @apply text-black mr-4 hover:bg-red-500 hover:text-white px-20 py-2;
    }

    .submit-btn {
        @apply  bg-blue-400 text-white hover:bg-blue-500 px-20 py-2;
    }

    .delete-file-btn {
        @apply border-0 text-lg ;
    }
</style>

<style lang="scss">
.agency-info-form {
    @apply max-w-7xl mx-4 #{!important};

    &.disabled {
        .ant-select-selection-selected-value,input {
            @apply text-black;
        }
    }

    .ant-form-item-label {
        @apply font-bold;
    }

    &__btn {
        @apply h-auto rounded-lg #{!important};
    }

    &__required-field {
        label.ant-form-item-required {
            &::before {
                @apply hidden;
            }

            &::after {
                @apply inline-block ml-1 text-red-500 text-base leading-none  ;
                content: '*' !important;
            }
        }

    }

}
</style>
