<template>
    <a-table
        :data-source="tableData"
        :pagination="false"
        class="customer-agency-table"
        :row-class-name="calcStripedRowTable"
        :loading="loading"
        row-key="id"
    >
        <a-table-column
            key="column-index"
            align="center"
            title="Mã khách hàng"
            data-index="id"
            width="250px"
        >
            <template #default="id">
                <nuxt-link :to="'/khach-hang/' + id" class="text-current underline hover:text-blue-500">
                    {{ id }}
                </nuxt-link>
            </template>
        </a-table-column>
        <a-table-column
            key="column-customer-name"
            align="center"
            title="Họ tên"
            data-index="username"
            min-width="150px"
        >
            <template #default="name">
                <span>{{ name }}</span>
            </template>
        </a-table-column>
        <a-table-column
            key="column-customer-phone"
            align="center"
            title="Số điện thoại"
            data-index="phone"
            width="150px"
        >
            <template #default="phone">
                <span>{{ phone }}</span>
            </template>
        </a-table-column>
        <a-table-column
            key="column-time"
            align="center"
            title="Thời gian đăng ký"
            data-index="time"
            width="200px"
        >
            <template #default="time">
                <span>{{ time | datetimeFormat('DD/MM/yyyy HH:mm') }}</span>
            </template>
        </a-table-column>
        <a-table-column
            key="column-actions"
            width="100px"
        >
            <template #default="customer">
                <div class="flex justify-between items-center text-xl">
                    <div class="hover:cursor-pointer" @click="navigateToDetail(customer)">
                        <i class="fa-solid fa-eye" />
                    </div>
                    <div class="hover:cursor-pointer" @click="navigateToEdit(customer)">
                        <i class="fas fa-pen" />
                    </div>
                </div>
            </template>
        </a-table-column>
    </a-table>
</template>

<script>
    export default {
        name: 'UserListTable',
        props: {
            data: {
                type: Array,
                required: true,
            },
            loading: {
                type: Boolean,
                required: true,
            },
        },

        data() {
            const tableData = this.data;
            return {
                tableData,
            };
        },

        watch: {
            data(newData) {
                this.tableData = newData;
            },
        },

        methods: {
            navigateToDetail({ id }) {
                this.$router.push(`/khach-hang/${id}`);
            },
            navigateToEdit({ id }) {
                this.$router.push(`/khach-hang/${id}/chinh-sua`);
            },
            calcStripedRowTable(_, i) {
                return i % 2 === 0 ? 'bg-white' : 'bg-blue-50';
            },
        },
    };
</script>

<style lang="scss">
.customer-agency-table {
.ant-table-thead {
    @apply bg-cyan-300;
    th {
        @apply bg-transparent #{!important};
    }
}
}
</style>
