<template>
    <div v-if="!notFound">
        <h1 class="text-2xl">
            Thông tin khách hàng
        </h1>
        <EditUserForm class="!my-6" :user="user" @submit="updateUserData" />
    </div>
    <div v-else>
        <h1 class="text-3xl text-center mt-52">
            Không tìm thấy thông tin người dùng trong CSDL
        </h1>
        <nuxt-link class="py-2 px-20 rounded-md bg-blue-500 hover:bg-blue-400 text-white block mx-auto my-5 w-fit" to="/khach-hang">
            Quay lại trang danh sách khách hàng
        </nuxt-link>
    </div>
</template>

<script>
    import EditUserForm from '~/components/customer/user/form/Detail.vue';

    export default {
        name: 'UserDetailPage',
        components: { EditUserForm },
        async asyncData({ params, $api }) {
            let user = null;
            let notFound = false;

            try {
                const response = await $api.user.getUser(params.id);
                const { user: resquestedUser } = response;
                const {
                    gender,
                    ...remains
                } = resquestedUser;

                user = {
                    gender: String(gender),
                    ...remains,
                };
            } catch (error) {
                notFound = true;
                console.log(error);
            }

            return {
                user,
                notFound,
            };
        },

        methods: {
            async updateUserData(form) {
                let { birthday } = form;
                if (typeof birthday !== 'string') {
                    birthday = birthday.toISOString();
                }

                try {
                    const submitData = { ...form, birthday };
                    await this.$api.user.updateUser(form.id, submitData);

                    this.$message.success('Cập nhật thành công');
                    this.$router.push('/khach-hang');
                } catch (error) {
                    console.log(error);
                    this.$message.error('Có lỗi xảy ra, thử lại sau');
                }
            },
        },

        head() {
            return {
                title: 'Cập nhật thông tin người dùng | Tiki.vn',
            };
        },
    };
</script>

<style lang="scss" scoped>
</style>
