<template>
    <div v-if="!notFound">
        <div class="flex justify-between items-center">
            <h1 class="text-2xl">
                Thông tin khách hàng
            </h1>
            <nuxt-link :to="editLink" class="py-2 px-10 rounded-md bg-blue-500 hover:bg-blue-400 text-white hover:text-white">
                Chỉnh sửa
            </nuxt-link>
        </div>
        <Detail class="!my-6" :user="user" disabled />
    </div>
    <div v-else>
        <h1 class="text-3xl text-center mt-52">
            Không tìm thấy thông tin người dùng trong CSDL
        </h1>
        <nuxt-link class="py-2 px-10 rounded-md bg-blue-500 hover:bg-blue-400 text-white hover:text-white block mx-auto my-5 w-fit" to="/khach-hang">
            Quay lại trang danh sách khách hàng
        </nuxt-link>
    </div>
</template>

<script>
    import Detail from '~/components/customer/user/form/Detail.vue';

    export default {
        name: 'UserDetailPage',
        components: { Detail },
        async asyncData({ params, $api }) {
            let user = null;
            let notFound = false;

            try {
                const response = await $api.user.getUser(params.id);
                const { user: resquestedUser } = response;
                const {
                    gender,
                    ...remains
                } = resquestedUser;

                user = {
                    gender: String(gender),
                    ...remains,
                };
            } catch (error) {
                notFound = true;
                console.log(error);
            }

            return {
                user,
                notFound,
            };
        },

        computed: {
            editLink() {
                return `/khach-hang/${this.$route.params.id}/chinh-sua`;
            },
        },

        head() {
            return {
                title: 'Xem thông tin người dùng | Tiki.vn',
            };
        },
    };
</script>
