<template>
    <a-form-model
        ref="form"
        class="user-form"
        :label-col="{ span: 5 }"
        :wrapper-col="{ span: 19 }"
        label-align="left"
        :model="form"
        :rules="rules"
        :colon="false"
    >
        <a-row :gutter="24">
            <a-col :span="6">
                <a-form-model-item :wrapper-col="{ span: 24}">
                    <a-upload
                        ref="fileUploader"
                        list-type="picture-card"
                        :file-list="mediaFileList"
                        :show-upload-list="false"
                        :custom-request="uploadImageHandler"
                        class="user-form__media-file"
                        :before-upload="beforeUploadFile"
                        @change="handleFileListChange"
                    />
                    <div class="relative w-full h-64 mb-4 border rounded-full overflow-hidden media-file">
                        <button
                            v-if="form.avatar_url"
                            class="delete-file-btn"
                            :disabled="disabled"
                            :style="{
                                top: (2 - Math.sqrt(2)) * 25 + '%',
                                right: (2 - Math.sqrt(2)) * 25 + '%',
                            }"
                            @click="deleteAvatar"
                        >
                            <i class="fas fa-times" />
                        </button>
                        <div v-if="isUploadingFile" class="h-full w-full text-3xl flex justify-center items-center">
                            <a-icon type="loading" />
                        </div>
                        <div v-else-if="!form.avatar_url" class="rounded-lg upload-placeholder">
                            <a-icon type="picture" theme="filled" />
                        </div>
                        <img
                            v-else
                            :src="form.avatar_url"
                            alt=""
                            class="object-cover w-full h-full  hover:cursor-pointer"
                            @click="openPreviewImage"
                        >
                        <div class="absolute left-0 bottom-0 h-9 bg-gray-400 w-full opacity-75">
                            <a-dropdown :trigger="['click']" :disabled="disabled">
                                <div class="w-full h-full flex justify-center items-center text-xl hover:cursor-pointer">
                                    <a-icon type="camera" theme="filled" />
                                </div>
                                <a-menu slot="overlay" @click="fileDropdownHandler">
                                    <a-menu-item :key="FILE_DROPDOWN_KEYS.UPLOAD">
                                        Chọn File...
                                    </a-menu-item>
                                </a-menu>
                            </a-dropdown>
                        </div>
                    </div>
                </a-form-model-item>
            </a-col>
            <a-col :span="18">
                <card style="background: white !important">
                    <a-form-model-item
                        prop="username"
                        label="Họ và tên"
                        class="user-form__required-field"
                    >
                        <a-input
                            v-model="form.username"
                            :disabled="disabled"
                            :placeholder="'Nhập họ tên' + isAdmin ? '' : ' khách hàng'"
                        />
                    </a-form-model-item>
                    <a-form-model-item
                        prop="nick_name"
                        label="Nickname"
                    >
                        <a-input
                            v-model="form.nick_name"
                            :disabled="disabled"
                            :placeholder="'Nhập nickname' + isAdmin ? '' : ' khách hàng'"
                        />
                    </a-form-model-item>
                    <a-form-model-item
                        prop="birthday"
                        label="Ngày sinh"
                    >
                        <a-date-picker
                            v-model="form.birthday"
                            format="DD/MM/YYYY"
                            :placeholder="'Chọn sinh nhật' + isAdmin ? '' :' của khách hàng'"
                            :disabled="disabled"
                            class="!w-full"
                        />
                    </a-form-model-item>
                    <a-form-model-item
                        prop="gender"
                        label="Giới tính"
                    >
                        <a-radio-group v-model="form.gender" :disabled="disabled">
                            <a-radio
                                v-for="(genLabel, genCode) in GENDER"
                                :key="genCode"
                                :value="genCode"
                            >
                                {{ genLabel }}
                            </a-radio>
                        </a-radio-group>
                    </a-form-model-item>
                    <a-form-model-item
                        prop="address"
                        label="Địa chỉ"
                    >
                        <a-input
                            v-model="form.address"
                            :placeholder="'Nhập địa chỉ' + isAdmin ? '' : ' khách hàng'"
                            :disabled="disabled"
                        />
                    </a-form-model-item>
                    <a-form-model-item
                        prop="phone_number"
                        label="Số điện thoại"
                        class="user-form__required-field"
                    >
                        <a-input
                            v-model="form.phone_number"
                            :placeholder="'Nhập số điện thoại' + isAdmin ? '' : ' khách hàng'"
                            :disabled="disabled"
                        />
                    </a-form-model-item>
                    <a-form-model-item
                        prop="email"
                        label="Email"
                    >
                        <a-input
                            v-model="form.email"
                            :placeholder="'Nhập email' + + isAdmin ? '' : ' khách hàng'"
                            :disabled="disabled"
                        />
                    </a-form-model-item>
                </card>
            </a-col>
        </a-row>
        <div v-if="!disabled" class="flex justify-end mt-5">
            <a-button
                type="link"
                class="user-form__btn cancel-btn mr-4"
                @click="cancelSubmit"
            >
                Hủy
            </a-button>
            <a-button
                class="user-form__btn submit-btn"
                @click="submitForm"
            >
                Cập nhật
            </a-button>
        </div>
        <a-modal
            :footer="null"
            :visible="isPreviewImage"
            class="user-form__preview-modal"
            :closable="false"
            @cancel="hidePreviewModal"
        >
            <button type="button" class="close-modal-btn" @click="hidePreviewModal">
                <i class="fas fa-times" />
            </button>
            <img
                :src="form.avatar_url"
                alt=""
                class="w-full hover:cursor-pointer"
            >
        </a-modal>
    </a-form-model>
</template>

<script>
    import _cloneDeep from 'lodash/cloneDeep';
    import GENDER from '~/constants/gender';
    import phoneValidator from '~/utils/phoneValidator';

    const FILE_DROPDOWN_KEYS = {
        UPLOAD: 'upload',
    };

    const defaultForm = {
        username: '',
        nick_name: '',
        birthday: null,
        gender: '',
        address: '',
        phone_number: '',
        email: '',
        avatar_url: '',
    };

    export default {
        name: 'UserDetailForm',
        props: {
            user: {
                type: Object,
            },
            disabled: {
                type: Boolean,
                default: false,
            },
            isAdmin: {
                type: Boolean,
                default: false,
            },
        },

        emits: ['submit'],

        data() {
            const form = this.user ? _cloneDeep(this.user) : _cloneDeep(defaultForm);

            return {
                form,
                mediaFileList: [],
                isUploadingFile: false,
                isPreviewImage: false,
                rules: {
                    username: [
                        { required: true, message: 'Vui lòng nhập tên người dùng', trigger: 'change' },
                    ],
                    phone_number: [
                        { required: true, message: 'Vui lòng nhập số điện thoại người dùng', trigger: 'change' },
                        {
                            validator: (_, value, callback) => {
                                if (!phoneValidator(value)) {
                                    callback(new Error('Vui lòng nhập đúng định dạng số điện thoại'));
                                    return;
                                }
                                callback();
                            },
                            trigger: 'change',
                        },
                    ],
                },
                FILE_DROPDOWN_KEYS,
                GENDER,
            };
        },

        methods: {
            fileDropdownHandler({ key }) {
                switch (key) {
                    case FILE_DROPDOWN_KEYS.UPLOAD:
                        this.activeUploadFile();
                        break;

                    default:
                        break;
                }
            },

            // Kích hoạt sự kiện upload file
            activeUploadFile() {
                // Tự động kích hoạt sự kiện upload trong upload của ant
                this.$refs.fileUploader.$el.querySelector('input[type=file]').click();
            },

            openPreviewImage() {
                this.isPreviewImage = true;
            },

            hidePreviewModal() {
                this.isPreviewImage = false;
            },

            deleteAvatar() {
                this.mediaFileList = [];
                this.form.avatar_url = '';
            },

            async uploadImageHandler({ onSuccess, onError, file: image }) {
                const imageContainer = new FormData();
                imageContainer.append('image', image);
                try {
                    const responseData = await this.$api.common.upload(imageContainer);
                    onSuccess(responseData, null);
                } catch (error) {
                    onError(error);
                }
            },

            handleFileListChange({ fileList, file: uploadedFile }) {
                if (uploadedFile.status === 'done') {
                    this.form.avatar_url = uploadedFile.response.path;
                    // Danh sách ảnh có 1 ảnh duy nhất
                    this.isUploadingFile = false;
                }
                // Bắt buộc gán = fileList để có được file đã upload
                this.mediaFileList = fileList.slice(-1);
            },

            beforeUploadFile() {
                this.isUploadingFile = true;

                return true;
            },

            cancelSubmit() {
                this.$router.back();
            },

            submitForm() {
                this.$refs.form.validate((valid) => {
                    if (valid) {
                        this.$emit('submit', this.form);
                    } else {
                        return false;
                    }
                });
            },
        },
    };
</script>

<style lang="scss" scoped>
    .upload-placeholder {
        @apply bg-gray-200 text-8xl h-full w-full flex justify-center items-center;
    }

    .thumbnail {
        @apply transition-all rounded-lg h-21 w-full object-cover hover:cursor-pointer;
        &:hover {
            box-shadow: 0px 4px 10px rgba(15, 3, 34, 0.25);
        }
    }

    .media-file {
        button {
            @apply opacity-0 transition-opacity;
        }

        &:hover button {
            @apply opacity-100;
        }
    }

    .card {
        @apply mt-8 mb-4;
    }

    .title {
        @apply mb-6;
    }

    .cancel-btn {
        @apply text-black mr-4 hover:bg-blue-400 hover:text-white;
    }

    .submit-btn {
        @apply  bg-blue-500 text-white hover:bg-blue-400 px-20 py-2;
    }

    .close-modal-btn {
        @apply h-10 w-10 flex justify-center items-center bg-white rounded-full absolute top-0 right-0 text-xl transition-all duration-200 hover:cursor-pointer  hover:bg-blue-500 hover:text-white;
        transform: translate(50%, -50%);
    }

    .delete-file-btn {
        @apply  w-5 h-5 absolute leading-5 align-middle text-center text-black bg-white rounded-full border hover:cursor-pointer hover:bg-blue-500 hover:text-white  disabled:cursor-not-allowed;
    }
</style>

<style lang="scss">
.user-form {
    @apply max-w-7xl mx-4 #{!important};

    &__media-file {
        @apply hidden #{!important};
    }

    .ant-form-item-label {
        @apply font-bold;
    }

    &__description-input {
        label {
            @apply text-lg mb-5 #{!important};
        }

        textarea {
            @apply resize-none;
        }
    }

    &__preview-modal {
        .ant-modal-body {
            @apply relative p-0;
        }

        .ant-modal-close {
            @apply hidden;
        }
    }

    &__btn {
        @apply h-auto rounded-lg #{!important};
    }

    &__required-field {
        label.ant-form-item-required {
            &::before {
                @apply hidden;
            }

            &::after {
                @apply inline-block ml-1 text-red-500 text-base leading-none  ;
                content: '*' !important;
            }
        }

    }

}
</style>
